<div style="display: flex; width: -webkit-fill-available; justify-content: end; margin-right: 1rem;margin-bottom: .5rem;">
    <!-- multi select options -->
    <div ng-show="is_note_multi_select_on" class="flex-col gap-1 orange p-1 popup_style">
        <div ng-click="bulk_action(CONST.COMPLETE)">✅ Complete</div>
        <div ng-click="bulk_action(CONST.MERGE)">🔀 Merge</div>
        <div ng-click="bulk_action(CONST.MOVE)">🚚 Move</div>
        <div ng-click="bulk_action(CONST.REMOVE)">🗑️ Remove</div>
        <div ng-click="bulk_action(CONST.CANCEL)">❌ Cancel</div>
    </div>
</div>

<!-- bottom button -->
<div 
    ng-show="!is_note_multi_select_on"
    style="padding:.75rem 2rem"
    class="flex-row justify-space-between rounded-full border blur gap-4">
    <!-- create notebook button -->
    <div ng-click="open_notebook_popup('create');" class="clickable">
        <img class="svg-icon" src="./img/icons/notebook.add.outline.svg"/>
    </div>

    <!-- create note button -->
    <div ng-click="open_create_note_popup()"
        class="clickable">
        <img class="svg-icon" src="./img/icons/note.add.svg"/>
    </div>

    <!-- system var button -->
    <div ng-click="open_create_var_popup()"
        class="clickable">
         <img class="svg-icon" src="./img/icons/formula.svg"/>
    </div>

    <!-- view notebooks button -->
    <div ng-hide="show_view=='notebook'" ng-click="set_view('notebook')"
        class="clickable">
        <img class="svg-icon" src="./img/icons/back.svg"/>
    </div>
</div>