<div class="flex-col">
     <!-- multi select options -->
      <div
        ng-show="is_note_multi_select_on"
        class="orange flex-row space-between p-1">
            <div ng-click="handle_multi_select_action(CONST.COMPLETE)">Complete</div>
            <div ng-click="handle_multi_select_action(CONST.MERGE)">Merge</div>
            <div ng-click="handle_multi_select_action(CONST.MOVE)">Move</div>
            <div ng-click="handle_multi_select_action(CONST.REMOVE)">Remove</div>
            <div ng-click="handle_multi_select_action(CONST.CANCEL)">Cancel</div>
      </div>

    <!-- bottom button -->
    <div
        ng-show="bottom_bar_active_div=='null'" 
        class="flex-row p-1/2 justify-space-between gap-1">
        <!-- create notebook button -->
        <div 
            ng-class="{'bg-red-pink': bottom_bar_active_div=='notebook'} "
            ng-click="
                dialog_flags.show_notebook_popup=true; 
                focus_input('.add-new-list-title');
                create_notebook_obj.action='create';
                " 
            class="button rounded-full orange gap-1 icon-btn-padding  col-reverse">
            <img src="./img/icons/pencil.and.list.clipboard.svg" class="svg-icon-l"/>
            <!-- <span>Notebook</span> -->
        </div>
        <!-- create note button -->
        <div 
            ng-class="{'bg-red-pink':bottom_bar_active_div=='note'}"
            ng-click="open_create_note_popup()" 
            class="button rounded-full orange gap-1 icon-btn-padding  col-reverse">
            <img src="./img/icons/pencil.and.scribble.svg" class="svg-icon-l"/>
            <!-- <span>Note</span> -->
        </div>
        <!-- system var button -->
        <div 
            ng-class="{'bg-red-pink':bottom_bar_active_div=='system'}"
            ng-click="dialog_flags.show_create_system_var_popup=true;" 
            class="button rounded-full orange gap-1 icon-btn-padding  col-reverse">
            <img src="./img/icons/keyboard_command_key.svg" class="svg-icon-l"/>
            <!-- <span>System</span> -->
        </div>
        <!-- view notebooks button -->
        <div 
            ng-hide="show_view=='notebook'" 
            ng-click="set_view('notebook')" 
            class="button rounded-full orange gap-1 icon-btn-padding  col-reverse">
            <img src="./img/icons/arrowshape.left.fill.svg" class="svg-icon-l"/>
            <!-- <span>Back</span> -->
        </div>
    </div>
</div>