<div class="flex-col">
    <!-- create note layout -->
    <div
        ng-show="bottom_bar_active_div=='note'" 
        style="border: 1px solid var(--theme_button_border);"
        class="flex-col p-1/2 gap-1 shadow drawer-rounded px-1 py-1/2">
        <!-- note buttons -->
        <div class="flex-row gap-1 space-between">
            <div 
                ng-click="bottom_bar_active_div='null'; cancel_update_note();"
                class="button rounded-full gap-1 orange">
                <!-- <span class="material-symbols-outlined button-icon">cancel</span> -->
                <span>Close</span>
            </div>
            <div 
                ng-class="{'orange':note_content.length>0}" 
                ng-hide="show_update_task_button" 
                ng-click="create_note()" 
                class="button rounded-full gap-1 not-active transition">
                <!-- <span class="material-symbols-outlined button-icon">add</span> -->
                <span>Done</span>
            </div>
            <div 
                ng-show="show_update_task_button" 
                ng-click="update_note()" 
                class="button rounded-full gap-1 orange">
                <!-- <span class="material-symbols-outlined button-icon">edit_square</span> -->
                <span>Done</span>
            </div>
        </div>

        <!-- menu buttons -->
        <div class="flex-row gap-1 scroll-y w-full">
            <div
                ng-repeat="item in bottom_bar_menu"
                ng-show="true"
                ng-class="{'chip2-selected': bottom_bar_active_menu==item.text}" 
                ng-click="item.action(item)" 
                class="chip2">
                <span class="material-symbols-outlined">{{item.icon}}</span>
                <!-- <span>{{item.text}}</span> -->
            </div>
        </div>

        
    
        <!-- note input -->
        <div class="note_textarea_container gap-1">
            <!-- <span class="material-symbols-outlined button-icon">description</span> -->
            <textarea
                autocomplete="off"
                ng-style="{'height':note_textarea_container_height+'px'}"
                ng-model="note_content"
                ng-keyup="handle_keypress_note_input($event)"
                id="note_content"
                class="new-task-content" 
                placeholder={{note_content_placeholder}}
                autofocus>
            </textarea>
        </div>

        <!-- bottom bar sub menu items -->
        <div class="flex-row gap-1 w-full wrap scroll" style="max-height: 200px;">
            <div
                ng-repeat="submenu_item in current_bottom_bar_active_menu"
                class="chip mx-1" 
                ng-show="submenu_item.show"
                ng-click="submenu_item.action()">
                <span class="material-symbols-outlined">{{submenu_item.icon}}</span>
                <span>{{submenu_item.text}}</span>
            </div>

            <!-- show component options -->
            <div
                ng-if="show_component_options" 
                class="chip">
                <span>{{get_component_details()}}</span>
            </div>

            <!-- show system vars options -->
            <div
                ng-if="show_edit_options_system_vars"
                class="chip"
                ng-repeat="(key,value) in get_system_vars()"
                ng-click="insertTextAtCursor('note_content',key)">
                    <span>{{key}}</span>
                    <span>{{option.title}}</span>
            </div>        
        </div>
    </div>



    <!-- system var layout -->
     <div
        style="border: 1px solid var(--theme_button_border);" 
        ng-show="bottom_bar_active_div=='system'" 
        class="flex-col p-1/2 gap-1 drawer-rounded">
        <!-- action button -->
        <div class="flex-row gap-1 space-between">
            <div 
                ng-click="bottom_bar_active_div='null'; clear_system_input_vars()"
                class="button rounded-full gap-1">
                <!-- <span class="material-symbols-outlined button-icon">cancel</span> -->
                <span>Close</span>
            </div>
            <div ng-click="create_system_var();" class="button rounded-full gap-1">
                <!-- <span class="material-symbols-outlined button-icon">add</span> -->
                <span>{{system_create_btn_title}}</span>
            </div>
            <div 
                ng-if="show_delete_system_var_button"
                ng-click="bottom_bar_active_div='null'; delete_system_var();" class="button rounded-full gap-1">
                <!-- <span class="material-symbols-outlined button-icon">delete</span> -->
                <span>delete</span>
            </div>
        </div>

        <!-- title -->
        <div class="botom_bar_title orange">
            <span class="material-symbols-outlined button-icon">keyboard_command_key</span>
            Custom variables
        </div>

        <!-- create system var -->
        <div class="flex-col gap-1">
            <div class="flex-row gap-1 align-center">
                <span class="material-symbols-outlined button-icon">graph_1</span>
                <input
                    type="text"
                    name="system_var_name" 
                    class="system_var_input"
                    ng-model="new_var_name" 
                    placeholder="Variable name"/>
            </div>
            <div class="flex-row gap-1 align-center">
                <span class="material-symbols-outlined button-icon">graph_5</span>
                <input
                    name="system_var_value"
                    type="text"
                    class="system_var_input"
                    ng-model="new_var_value" 
                    placeholder="Variable value"/>
            </div>
            
            
    </div>
     </div>















     <!-- multi select options -->
      <div
        ng-show="is_note_multi_select_on"
        class="orange flex-row space-between p-1">
            <div ng-click="handle_multi_select_action(CONST.COMPLETE)">Complete</div>
            <div ng-click="handle_multi_select_action(CONST.MERGE)">Merge</div>
            <div ng-click="handle_multi_select_action(CONST.MOVE)">Move</div>
            <div ng-click="handle_multi_select_action(CONST.REMOVE)">Remove</div>
            <div ng-click="handle_multi_select_action(CONST.CANCEL)">Cancel</div>
      </div>
    <!-- bottom button -->
    <div
        ng-show="bottom_bar_active_div=='null'" 
        class="flex-row p-1/2 justify-space-between wrap gap-1">
        <!-- create notebook button -->
        <div 
            ng-class="{'bg-red-pink': bottom_bar_active_div=='notebook'} "
            ng-click="dialog_flags.show_notebook_popup=true; focus_input('.add-new-list-title')" class="button rounded-full gap-1 icon-btn-padding  col-reverse">
            <span class="material-symbols-outlined button-icon-l;">auto_stories</span>
            <!-- <span>Notebook</span> -->
        </div>
        <!-- create note button -->
        <div 
            ng-class="{'bg-red-pink':bottom_bar_active_div=='note'}"
            ng-click="toggle_bottom_bar_div('note')" class="button rounded-full gap-1 icon-btn-padding  col-reverse">
            <span class="material-symbols-outlined button-icon-l;">stylus_note</span>
            <!-- <span>Note</span> -->
        </div>
        <!-- system var button -->
        <div 
            ng-class="{'bg-red-pink':bottom_bar_active_div=='system'}"
            ng-click="toggle_bottom_bar_div('system')" class="button rounded-full gap-1 icon-btn-padding  col-reverse">
            <span class="material-symbols-outlined button-icon-l;">keyboard_command_key</span>
            <!-- <span>System</span> -->
        </div>
        <!-- view notebooks button -->
        <div ng-hide="show_view=='notebook'" ng-click="set_view('notebook')" class="button rounded-full gap-1 icon-btn-padding  col-reverse">
            <span class="material-symbols-outlined button-icon-l;">arrow_back</span>
            <!-- <span>Back</span> -->
        </div>
    </div>

</div>