<!-- create and rename notebook dialog controller -->
<!-- create/rename notebook popup -->
<div 
    class="create-notebook-popup flex-col relative rounded-2 scroll gap-2 popup_style"
    ng-click="$event.stopPropagation()">
    <!-- title of popup -->
    <div class="flex-row align-center gap-1">
        <span class="text-lg">📝</span>
        <span>{{create_notebook_obj[create_notebook_obj.action].title}}</span>
    </div>

    <!-- content of popup -->
    <div class="flex-col w-full gap-2 align-center">
        <!-- emoji icon for notebook -->
        <input maxlength="2" type="text" name="notebook_icon" class="list_icon_input" ng-model="new_notebook_icon"
            placeholder="Icon Emoji" />
        
        <!-- name for notebook  -->
        <input
            maxlength="30" 
            type="text" 
            name="notebook_name" 
            ng-keyup="handle_input_on_notebook($event)"
            class="add-new-list-title" 
            ng-model="new_notebook_name"
            ng-attr-placeholder="{{create_notebook_obj[create_notebook_obj.action].placeholder}}" autofocus />
    </div>

    <!-- action buttons -->
    <div class="flex-row gap-1 space-between mt-2">
        <div 
            ng-click="close_dialog()" 
            class="button clickable rounded-full gap-1 red">
            Close
        </div>
        <div
            ng-show="create_notebook_obj.action=='create'" 
            ng-class="{'orange':new_notebook_name.length>1}"
            ng-click="handle_click_on_create_notebook_button()"
            class="button clickable rounded-full gap-1 transition not-active">
            Create
        </div>
        <div ng-show="create_notebook_obj.action=='rename'" ng-class="{'orange':new_notebook_name.length>1}"
            ng-click="rename_notebook()" class="button clickable rounded-full gap-1 transition not-active">
            Rename
        </div>
    </div>
</div>