    <!-- create notebook popup -->
        <div class="create-notebook-popup flex-col relative rounded-2 scroll">
             <!-- action buttons -->
             <div class="flex-row gap-1 space-between" style="margin-bottom: 1rem;">
                <div 
                    ng-click="close_all_dialogs(); new_list_name=''"
                    class="button rounded-full gap-1">
                    <!-- <span class="material-symbols-outlined button-icon">cancel</span> -->
                    <span>Close</span>
                </div>
                <div
                    ng-class="{'orange':new_list_name.length>1}" 
                    ng-click="handle_click_on_create_notebook_button()" 
                    class="button rounded-full gap-1 transition not-active">
                    <!-- <span class="material-symbols-outlined button-icon">add</span> -->
                    <span>Create</span>
                </div>
            </div>

            <!-- title of popup -->
            <div class="flex-row align-center gap-1">
                <!-- <span class="material-symbols-outlined list-icon">book_6</span> -->
                <img src="./img/icons/pencil.and.list.clipboard.svg" class="svg-icon">
                <span>Open new notebook</span>
            </div>
            <!-- content of popup -->
            <div class="flex-col w-full gap-2">
                <!-- icon and input -->
                <div class="flex-row gap-1 align-center p-1">
                    <!-- icon -->
                    <span 
                        class="material-symbols-outlined button-icon" 
                        style="font-size: 1.4rem;">{{new_notebook_icon}}
                    </span>
                    <!-- notebook name input -->
                    <input
                        maxlength="30"
                        type="text"
                        name="notebook_name"
                        ng-keyup="handle_input_on_notebook($event)"
                        class="add-new-list-title"
                        ng-model="new_list_name" 
                        ng-attr-placeholder="New NoteBook name..."
                        placeholder="New NoteBook name..."
                        autofocus/>
                </div>

               
            </div>
        </div>