<!-- create note layout -->
<div class="create-note-popup">
<!-- note buttons -->
<div class="flex-row gap-1 space-between">
    <div 
        ng-click="dialog_flags.show_note_popup=false; cancel_update_note();"
        class="button rounded-full gap-1 orange">
        <span>Close</span>
    </div>
    <div 
        ng-class="{'orange':note_content.length>0}" 
        ng-hide="show_update_task_button" 
        ng-click="create_note()" 
        class="button rounded-full gap-1 not-active transition">
        <span>Done</span>
    </div>
    <div 
        ng-show="show_update_task_button" 
        ng-click="update_note()" 
        class="button rounded-full gap-1 orange">
        <span>Done</span>
    </div>
</div>

<!-- menu buttons -->
<div class="flex-row gap-1 w-full scroll-y">
    <!-- insert menu select button -->
    <div 
        class="border flex-row relative rounded-1 text-small" 
        style="font-size: 0.8rem;flex: 0 0 80px;">
        <label for="submenu_item_select_insert" class="submenu_item_select_label">
            <img src="./img/icons/pencil.svg" class="svg-icon-md"/>
            <span>Insert</span>
        </label>
        <select 
            name="submenu_item_select_insert" 
            id="submenu_item_select_insert"
            ng-change="handle_select_menu_change()"
            ng-click="handle_insert_menu_click()"
            ng-model="bottom_bar_sub_menu_selected_item"
            class="bottom-bar-menu-select">
            <option  ng-repeat="item in insert_menu_items" ng-value="item">{{item.text}}</option>
        </select>
    </div>

     <!-- component menu select button -->
     <div 
     class="border flex-row relative rounded-1 text-small" 
     style="font-size: 0.8rem;flex: 0 0 80px;">
        <label for="submenu_item_select_component" class="submenu_item_select_label">
            <img src="./img/icons/textformat.characters.svg" class="svg-icon-md"/>
            <span>Edit</span>
        </label>
        <select 
            name="submenu_item_select_component" 
            id="submenu_item_select_component"
            ng-change="handle_select_menu_change()"
            ng-model="bottom_bar_sub_menu_selected_item"
            class="bottom-bar-menu-select">
            <option  ng-repeat="item in component_menu_items" ng-value="item">{{item.text}}</option>
        </select>
    </div>
    
    <!-- system vars menu select button -->
     <div 
     class="border flex-row relative rounded-1 text-small" 
     style="font-size: 0.8rem;flex: 0 0 110px;">
        <label for="submenu_item_select_system" class="submenu_item_select_label">
            <img src="./img/icons/keyboard_command_key.svg" class="svg-icon-md"/>
            <span>System vars</span>
        </label>
        <select 
            name="submenu_item_select_system" 
            id="submenu_item_select_system"
            ng-change="handle_select_system_menu_change()"
            ng-model="bottom_bar_sub_menu_selected_item"
            class="bottom-bar-menu-select">
            <option  ng-repeat="(key,value) in get_system_vars()" ng-value="key">{{key}}</option>
        </select>
    </div>

    <!-- bottom bar note edit menu buttons -->
    <div
        ng-repeat="item in bottom_bar_menu"
        ng-show="true"
        ng-class="{'chip2-selected': bottom_bar_active_menu==item.text}" 
        ng-click="item.action(item)" 
        class="chip2">
        <img class="svg-icon-md" ng-src="{{get_svg_src(item.icon)}}" alt="icon">
        <span class="w-max-content">{{item.text}}</span>
    </div>
</div>

<!-- note input -->
<div class="note_textarea_container">
     <!-- hide note content when chart dialog is visible-->
    <textarea
        ng-hide="new_chart.show || new_transaction.show"
        autocomplete="off"
        ng-model="note_content"
        ng-keyup="handle_keypress_note_input($event)"
        id="note_content"
        class="new-task-content" 
        placeholder={{note_content_placeholder}}
        autofocus>
    </textarea>
    
    <!-- chart dialog -->
    <div class="flex-col gap-2" ng-show="new_chart.show">
        <!-- chart title -->
        <input 
            ng-model="new_chart.title" 
            class="text-input" 
            type="text" 
            max="20" 
            placeholder="Chart Title"/>
        <!-- chart type -->
        <div class="orange">Type</div>
        <div class="flex-row gap-1">
            <div 
                ng-click="new_chart.type = 'line'"
                ng-class="{'grayscale':new_chart.type!='line'}"
                class="align-center flex-row gap-2 p-125 rounded">
                <img class="svg-icon" ng-src="{{get_svg_src('chart.xyaxis.line')}}" alt="icon">
                <span>Line Chart</span>
            </div> 
            <div 
                ng-click="new_chart.type = 'bar'"
                ng-class="{'grayscale':new_chart.type!='bar'}"
                class="align-center flex-row gap-2 p-125 rounded">
                <img class="svg-icon" ng-src="{{get_svg_src('chart.bar.xaxis')}}" alt="icon">
                <span>Bar Chart</span>
            </div>
        </div>
        <!-- chart theme color -->
        <div class="orange">Theme</div>
        <div class="flex-row gap-1 w-full">
            <label class="create-chart-theme-wrapper" ng-repeat="(key,value) in get_chart_colors()">
                <input
                    ng-hide="true" 
                    style="accent-color: {{value}}; transform:scale(1.2); opacity: 0;" 
                    name="chart_theme" 
                    type="radio" 
                    ng-model="new_chart.theme" 
                    ng-value="key">
                <span 
                class="custom-radio"
                style="border-color:{{value}};background-color:{{get_transparent_color(value,0.5)}};"></span>
            </label>
        </div>
        <div class="flex-row space-between">
            <div class="orange">X axis labels</div>
            <div class="orange">Y axis values</div>
        </div>
        <div class="flex-row space-between">
            <textarea ng-model="new_chart.x_labels" style="height: 200px;" class="border new-task-content rounded-1"></textarea>
            <textarea ng-model="new_chart.y_values" style="height: 200px;" class="border new-task-content rounded-1"></textarea>
        </div>
        <div class="flex-row space-between">
            <div ng-click="reset_new_chart_and_close()" class="button rounded-full gap-1 orange">
                <span>Cancel</span>
            </div>
        <div ng-click="new_chart_convert_ui_to_code()" class="button rounded-full gap-1 orange">
            <span>Done</span>
            </div>
        </div>
    </div>
</div>
</div>