<!-- notebooks -->
<div ng-show="show_view==CONST.VIEW_NOTEBOOK">
    <div class="spacer"></div>
    <!-- Sort notebooks -->
    <div class="relative text-left">
       <label for="sort_notebooks" class="submenu_item_select_label justify-left">
            <h2 class="m-1">Your notebooks</h2>
            <img src="./img/icons/arrow_down.svg" class="svg-icon" style="margin-top: 8px;"/>
       </label>
       <select 
           name="sort_notebooks" 
           id="sort_notebooks"
           ng-change="handle_sort_notebook_change()"
           ng-model="sort_notebook_selected_item"
           class="bottom-bar-menu-select w-half">
           <option value="date">Sort by Date</option>
           <option value="title">Sort by Title</option>
       </select>
   </div>

    <div class="notebook_count">
        {{get_total().total_tasks}} tasks in {{get_total().total_notebooks}} notebooks
    </div>

    <!-- notebooks list -->
    <div ng-repeat="(group, items) in grouped_notebooks">
        <div class="group_by_text" ng-show="items.length>0">{{ group }}</div>
        <ul ng-show="items.length>0" class="reset_ul notebooks">
            <li 
                class="notebooks_li"
                ng-repeat="notebook in items"
                ng-click="open_notebook(notebook)" >
                 <div class="list-panel-item">
                    <div class="list-panel-item-title">
                        <!-- notebook icon -->
                        <img class="svg-icon" ng-src="{{get_svg_src(get_notebook_icon(notebook))}}" alt="NoteBook icon">

                        
                        
                        <article class="selected">{{notebook.title}}</article>
                        
                        <!-- completed notes status -->
                        <span
                            ng-show="get_completed_notes_length(notebook.taskArray)>0" 
                            class="list-sub-text gray line-through">
                                {{get_completed_notes_length(notebook.taskArray)}}
                        </span>
                        <!-- notes length -->
                        <span class="list-sub-text">{{notebook.taskArray.length}}</span>
                        <img ng-show="is_sortable" class="svg-icon handle" ng-src="{{get_svg_src('drag_handle')}}" alt="NoteBook icon">

                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div ng-repeat="(month, items) in grouped_notebooks['Older']">
        <div class="group_by_text" ng-show="items.length>0">{{ month }}</div>
        <ul class="reset_ul notebooks">
            <li 
                class="notebooks_li"
                ng-repeat="notebook in items"
                ng-click="open_notebook(notebook)">
                <div class="list-panel-item">
                    <div class="list-panel-item-title">
                        <!-- notebook icon -->
                        <img class="svg-icon" ng-src="{{get_svg_src(get_notebook_icon(notebook))}}" alt="NoteBook icon">
                        <article class="selected">{{notebook.title}}</article>
                        <!-- completed notes status -->
                        <span
                            ng-show="get_completed_notes_length(notebook.taskArray)>0" 
                            class="list-sub-text gray line-through">
                                {{get_completed_notes_length(notebook.taskArray)}}
                        </span>
                        <!-- notes length -->
                        <span class="list-sub-text">{{notebook.taskArray.length}}</span>
                        <img ng-show="is_sortable" class="svg-icon handle" ng-src="{{get_svg_src('drag_handle')}}" alt="NoteBook icon">

                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <!-- empty space at last -->
    <div 
        ng-show="notebooks.length!=0" 
        style="height:100px" 
        ng-click="dialog_flags.show_notebook_popup=true"
        class="align-center flex-row justify-center create-note-text">
        <span>Tap here to open new notebook</span>
    </div>
</div>


<!-- notes -->
<div ng-show="show_view==CONST.VIEW_NOTE">
    <div class="spacer"></div>
    <!-- normal tasks -->
    <div class="notebook_age">
        <img class="svg-icon" ng-src="{{get_svg_src('hourglass')}}" alt="NoteBook icon">&nbsp; {{notebook_age()}}
    </div>
    <!-- clipboard -->
    <div class="notebook_age" ng-show="copied_task!=null">
        <img class="svg-icon" ng-src="{{get_svg_src('document.on.clipboard')}}" alt="NoteBook icon">&nbsp; 1 task
    </div>

    <div ng-hide="selectedListName.toLowerCase()=='system'" class="group_by_text">{{notes.length}} tasks
    </div>

    <ul ng-hide="is_notebook_locked()" class="notes reset_ul">
        <li data-index="{{$index}}" ng-repeat="note in notes | filter:{isTaskCompleted:false}">
            <div class="task" ng-class="{completed: note.isTaskCompleted}">
                <!-- multi select checkbox -->
                <input
                    style="accent-color: orange;"
                    class="visible_pop_animation"
                    ng-show="is_note_multi_select_on"
                    ng-model="note.isSelected"
                    ng-change="handle_tap_on_note_checkbox(note)"         
                    type="checkbox">
                <!-- multi select checkbox -->
                 <!-- as we are binding direct property of note just save on ng-change -->
                <input
                    class="visible_pop_animation"
                    ng-show="show_note_complete_button"
                    ng-change="save_data()"
                    ng-model="note.isTaskCompleted"
                    type="checkbox">
                
              
                
                <!-- note content -->
                <div 
                    ng-class="{selected:selected_note==note}" 
                    class="task-content-div"
                    ng-bind-html="parse_markdown_to_html(note.title) | sanitize"
                    ng-dblclick="handle_dbl_tap_on_note(note);" 
                    ng-click="handle_tap_on_note(note);"></div>
                
                <!-- drag handle -->
                        <img ng-show="is_sortable" class="svg-icon handle" ng-src="{{get_svg_src('drag_handle')}}" alt="NoteBook icon">

            </div>
        </li>
    </ul>

    <!-- show completed tasks if any -->
    <div 
        ng-show="notebook_has_completed_tasks()" 
        class="group_by_text">
        {{get_completed_notes_length(notes)}} completed notes
    </div>
    <div ng-repeat="note in notes | filter:{isTaskCompleted:true}">
        <div class="task" ng-class="{completed: note.isTaskCompleted}">
            <span
                class="" 
                ng-click="toggle_note_completed_state(note)">
                ✅
            </span>
            <div class="task-content-div" ng-bind-html="parse_markdown_to_html(note.title) | sanitize"
                ng-click="handle_tap_on_note(note);">
            </div>
        </div>
    </div>

    <!-- empty space at last if notebook on click open new notebook dialog -->
     <div 
        ng-show="notes.length!=0" 
        style="height:100px" 
        ng-click="bottom_bar_active_div='note'"
        class="align-center flex-row justify-center create-note-text">
        <span>Tap here to create note in {{current_notebook.title}}</span>
     </div>

    <!-- empty state empty list-->
    <div class="empty-notebook" ng-show="notes.length==0 && pageTitle.toLocaleLowerCase()!='system'">
        <div>
            <img src="img/empty.svg" class="empty_svg" />
        </div>
        <h2 class="text-center">{{empty_notebook_msg}}</h2>
    </div>

    <!-- notebook is locked-->
    <div class="empty-notebook" ng-show="is_notebook_locked() && pageTitle.toLocaleLowerCase()!='system'">
        <div>
            <img src="img/lock.svg" class="empty_svg" />
        </div>
        <h2 class="text-center">NoteBook is locked</h2>
    </div>
</div>

 <!-- show system vars here -->
 <div ng-show="show_view==CONST.VIEW_SYSTEM">
    <div class="spacer"></div>
    <div class="notebook_age">
        <img class="svg-icon" ng-src="{{get_svg_src('hourglass')}}" alt="NoteBook icon">&nbsp; {{notebook_age()}}
    </div>
    <div class="notebook_age">
        <img class="svg-icon" ng-src="{{get_svg_src('keyboard_command_key')}}" alt="NoteBook icon">&nbsp; {{get_system_var_length()}}
    </div>
    
    <div ng-repeat="(key,value) in get_system_vars()" ng-click="edit_var(key)">
        <div class="system_var_item">
            <div class="key">{{key}}</div>
            <div class="flex-row space-between">
                <div class="light-gray">Formula</div>
                <div class="value">{{value}}</div>
            </div>
            <div class="light-gray">Evaluated expression</div>
            <div class="evaluated_exp">{{evaluate_exp(value)}}</div>
        </div>
    </div>
</div>

<!-- empty state no list-->
<div style="text-align: center;" ng-show="notebooks.length==0">
    <h1>(>_<)< /h1>
            <span>Nothing to see here.</span>
</div>