<!-- notebooks -->
<div ng-show="show_dialog">
    <div class="spacer"></div>
    <!-- Sort notebooks -->
    <div class="relative text-left">
        <label for="sort_notebooks" class="absolute align-center flex-row gap-1 h-full w-full">
            <div class="">Sort notebooks</div>
            <img class="" src="./img/icons/sort.svg"/>
        </label>
        <select 
            name="sort_notebooks" 
            id="sort_notebooks" 
            ng-change="handle_sort_notebook_change()"
            ng-model="sort_notebook_selected_item" 
            class="bottom-bar-menu-select w-half">
            <option value="date">Sort by Date</option>
            <option value="title">Sort by Title</option>
            <option value="tag">Sort by Tags</option>
        </select>
    </div>

    <div class="notebook_count">
        {{notebooks.length}} notebooks
    </div>

    <!-- notebooks list -->
    <div ng-repeat="(group, items) in grouped_notebooks">
        <div class="group_by_text" ng-show="items.length>0">{{ group }}</div>
        <ul ng-show="items.length>0" class="reset_ul notebooks">
            <li class="notebooks_li" ng-repeat="notebook in items" ng-click="open_notebook(notebook)">
                <div class="list-panel-item div-style1">
                    <div class="list-panel-item-title">
                        <span class="notebook_icon_list_view">{{notebook.icon}}</span>
                        <div class="flex-col gap-1">
                            <article
                            class="clickable capitalize">
                            {{notebook.title}}
                            </article>
                            <span class="notes-count">{{get_live_notes_count(notebook)}} notes</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div ng-repeat="(month, items) in grouped_notebooks['Older']">
        <div class="group_by_text" ng-show="items.length>0">{{ month }}</div>
        <ul class="reset_ul notebooks">
            <li class="notebooks_li" ng-repeat="notebook in items" ng-click="open_notebook(notebook)" >
                <div class="list-panel-item div-style1">
                    <div class="list-panel-item-title">
                        <span class="notebook_icon_list_view">{{notebook.icon}}</span>
                        <div class="flex-col gap-1">
                            <article
                            ng-click="open_notebook(notebook)" 
                            class="clickable capitalize">
                            {{notebook.title}}
                            </article>
                            <span class="notes-count">{{get_live_notes_count(notebook)}} notes</span>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- empty space at last -->
    <div 
        ng-show="notebooks.length!=0" ng-click="open_notebook_popup('create');" class="create-note-text clickable">
        <span>Tap to create new notebook</span>
    </div>
    
     
    

</div>
