<div class="new_notebook_popup_child">
         <div class="flex-col align-center gap-1">
            <div class="flex-row align-center gap-1 m-2 w-full">
             <img class="svg-icon" ng-src="{{get_svg_src('lock')}}" alt="NoteBook icon">
             <div class="text-120">Enter password</div>
            </div>
             <input
                name="password"
                type="password"
                id="password"
                class="add-new-list-title"
                ng-model="password" 
                placeholder="Enter the password"></input>
            <div class="flex-row space-between m-2">
                <span ng-click="dialog_flags.show_password_popup=false" class="button text-red-500">Cancel</span>
                <span 
                    ng-hide="is_notebook_locked()" 
                    ng-click="lock_data()" 
                    ng-class="{'orange':password.length>0}"
                    class="button not-active transition">Lock Data
                </span>
                <span 
                    ng-show="is_notebook_locked()" 
                    ng-click="unlock_data()" 
                    ng-class="{'orange':password.length>0}"
                    class="button not-active transition">Unlock Data
                </span>
            </div>
         </div>
        </div>