<div 
    class="create-notebook-popup popup_style"
    ng-click="$event.stopPropagation()">
    <div class="flex-col gap-1 align-center">
        <div style="font-size: 2rem;">☘️</div>
        <h3>{{greet_user('528491')}}</h3>
    </div>

<!-- settings -->
<div class="sidebar-items-container">
    <div
        class="sidebar_item clickable"
        ng-repeat="item in items"
        ng-click="item.action()">
        <!-- <span class="icon">{{item.s_t}}</span> -->
        <img style="height: 24px;" ng-src="{{item.s_t}}"/>
        <div class="text">{{item.p_t}}</div>
        
    </div>

</div>
</div>