<div 
    class="create-notebook-popup flex-col relative rounded-2 scroll gap-2 popup_style"
    ng-click="$event.stopPropagation()">
    <div class="flex-col gap-1 align-center">
        <div style="font-size: 2rem;">☘️</div>
        <h3>{{greet_user('528491')}}</h3>
    </div>

<!-- settings -->
<div class="flex-row wrap rounded-3/4  m-1/2 gap-1">
    <div
        class="sidebar_item"
        ng-repeat="item in items"
        ng-click="item.action()">
        <div class="white">{{item.p_t}}</div>
        <div class="gray">{{item.s_t}}</div>
    </div>

</div>
</div>