<!-- show system vars here -->
<div>
    <div class="notebook_age">
        <span>Total variables:</span>
        {{get_system_var_length()}}
    </div>


    <div
        class="empty-notebook" ng-show="get_system_var_length()==0">
        <div class="empty_container">
            <span class="text-xxxl">📭</span>
            <span class="gray">No custom variables</span>
            <span class="chip orange"
            ng-click="open_create_var_popup()">+ Create variable</span>
        </div>
    </div>






    <div 
        ng-repeat="(key,value) in system_vars"
        class="clickable"
        ng-click="handle_click_on_var(key)">
        <div class="system_var_item">
            <div class="key">{{key}}</div>
            <div class="flex-row space-between">
                <div class="light-gray">Formula</div>
                <div class="value">{{value}}</div>
            </div>
            <div class="light-gray">Evaluated expression</div>
            <div class="evaluated_exp">{{evaluate_exp(value)}}</div>
            <div ng-show="show_more_options==key" class="flex-row justify-space-between m-2">
                <span ng-click="delete_var(key)" class="red">🗑️ Delete</span>
                <span ng-click="open_edit_var_popup(key)" class="orange">📝 Edit</span>
            </div>
        </div>
    </div>
    <!-- insert empty space at end -->
     <div class="empty-space"></div>
</div>