<!-- app title -->
<div ng-click="open_sidebar(true)" class="blur_icon_btn clickable">
    <span class="text-lg bold orange">☰</span>
</div>
<div class="app_icon_title" 
    ng-click="handle_click_on_notebook_title()">
        <span class="page_icon">{{pageIcon}}</span>
        <span class="text-lg capitalize">{{pageTitle}}</span>
</div>
<!-- more options button -->
<div
    ng-show="show_view==CONST.VIEW_NOTE"
    style="right: 1rem;"
    ng-click="handle_click_on_more_vert(current_notebook)"
    class="blur_icon_btn clickable">
    <span class="bold text-lg">📚</span>
</div>