<!DOCTYPE html>
<html lang="en">
<head>
    <title>NoteBook</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="todo app" name="keywords">
    <meta name="description" content="Author: Arun, a todo app">
    <meta http-equiv="cache-control" content="max-age=800" />
    <meta http-equiv="cache-control" content="Private" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/ios/180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ios/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ios/16.png">
    <link rel="icon" href="/img/logo.png">
    <link rel="manifest" href="manifest.json">
    <meta id="theme-color" name="theme-color" content="aliceblue" />
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="scripts/hammer.js"></script>
    <script src="scripts/class/List.js"></script>
    <script src="scripts/class/Task.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/dark.css">

</head>

<body ng-app="myapp" ng-controller='myctrl' ng-swipe-right="handleBackButton()" data-theme="{{theme}}">
    <div class="main-container">
        <div class="app-container">

            <!-- current list selected -->
            <div id="selected-list-info">
                <!-- name and back button -->
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <span id="back-button" class="material-symbols-outlined" ng-click="handleBackButton()"
                        ng-show="search.length>0 || selectedListIndex>=0">arrow_back_ios</span>
                    <div 
                        class="list-with-title" 
                        id="selectedList" 
                        style="display: block;"
                        ng-click="show_notification()" 
                        ng-bind="pageTitle"></div>
                        
                    <span 
                        id="open-more-panel" 
                        style="z-index: 999;" 
                        class="material-symbols-outlined"
                        ng-click="toggle_list_more_options_visibility()" 
                        ng-bind="nav_more_vert_icon"></span>

                </div>


                <!-- search button -->
                <div class="flex-row align-center m-2 bg-list-bg rounded-2 px-2">
                    <span class="material-symbols-outlined">search</span>
                <input 
                id="search-box" 
                ng-model="search" 
                ng-attr-placeholder="Search" value=""></input>
                </div>


                <!-- cancel action interface -->
                <div ng-click="cancelAction();" class="cancel-action danger"
                    ng-show="moveInProgress || mergeInProgress">
                    <div>
                        <span class="material-symbols-outlined">close</span>
                        <div>Cancel Action</div>
                    </div>
                </div>
            </div>

            <!--contains tasks-->
            <div id="tasks-container">
                <!-- search results start-->
                <Div id="search-results" style="display: block;" ng-show="search.length>0">
                    <div style="text-align: center;font-size: 125%;">Search Results</div>
                    <div style="text-align: center;font-size: 85%;">Results found: {{filtered_search.length}}</div>
                    <div ng-repeat="task in filtered_search = (allTasks | filter: search | limitTo: 10)">
                        <div class="task" ng-click="">
                            <span class="material-symbols-outlined" ng-bind="task.taskIcon"></span>
                            <span ng-bind-html="handle_task_html(task.title) | sanitize"></span>
                        </div>
                    </div>
                </Div>
                <!-- search results end-->

                <!-- lists -->
                <div 
                ng-show="defaultPageTitle==pageTitle"
                class="lists-container m-2 rounded-2 fade_scale_animation">
                    <div ng-repeat="(key,value) in listArray">
                        <div 
                        class="list-panel-item" 
                        ng-mouseup="mouse_up(key)" 
                        ng-mousedown="mouse_down()">
                            <div class="list-panel-item-title">
                                <span
                                style="color:var(--accent)" 
                                class="material-symbols-outlined">folder</span>
                                <article class="selected" ng-bind="value.title"></article>
                                <span class="list-sub-text" ng-bind="(value.taskArray.length)"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- view tasks  -->
                <Div 
                id="view-list-items" 
                ng-show="defaultPageTitle!=pageTitle"
                class="fade_scale_animation m-2">
                    <div ng-repeat="(key,value) in taskArray">
                        <!-- ng-class= css_class : condition -->
                        <div class="task" ng-class="{completed: value.isTaskCompleted}">
                            <span 
                            class="material-symbols-outlined" 
                            ng-bind="value.taskIcon"
                            ng-click="toggle_task_complete($event,key);"></span>
                            <div  
                            class="task-content-div"
                            ng-bind-html="handle_task_html(value.title) | sanitize"
                            ng-click="handleClickOnTask($event,key);"></div>
                        </div>
                    </div>
                    <!-- empty state empty list-->
                    <div style="text-align: center;" ng-show="taskArray.length==0">
                        <h1>
                            (>_<) </h1>
                                <span>Nothing to see here.</span>
                    </div>
                </Div>
                <!-- empty state no list-->
                <div style="text-align: center;" ng-show="listArray.length==0">
                    <h1>
                        (>_<) </h1>
                            <span>Nothing to see here.</span>
                </div>

            </div>


            <!-- bottom panels -->
            <!-- PANEL 1: create new list -->
            <!-- show only when list view is in focus -->
            
            <div 
                id="add-new-task-with-new-list" 
                class="nav-bar-panel visible" 
                ng-show="defaultPageTitle==pageTitle"
                >
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <input 
                        ng-keypress="checkIfEnterPressed($event)"
                        class="add-new-list-title rounded-2"
                        ng-model="newListName" 
                        ng-attr-placeholder="New NoteBook name..."
                        placeholder="New NoteBook name..."></input>
                    
                    <span 
                    ng-click="handleCreateList()"
                    class="material-symbols-outlined add_task_icon">
                        send
                        </span>
                </div>
            </div>

            <!-- PANEL 2: add new task  -->
            <!-- show only when single list is in focus -->
            <div 
                id="add-task-panel-with-selected-list"
                class="nav-bar-panel visible"
                ng-show="defaultPageTitle!=pageTitle"
                >
                <div class="add-task-edit-options">
                    <div class="button" onclick="insertList('ol')">
                        <div class="chip">
                            <span class="material-symbols-outlined">
                                format_list_numbered
                                </span>
                        </div>
                    </div>
                    <div class="button" onclick="insertHeading()">
                        <div class="chip">                            <span class="material-symbols-outlined">title</span>
                        </div>
                    </div>
                    <div class="button" onclick="insertList('ul')">
                        <div class="chip">
                            <span class="material-symbols-outlined">
                            list
                            </span></div>
                    </div>
                    <div class="button" onclick="insertProgress()">
                        <div class="chip">
                            <span class="material-symbols-outlined">sliders</span>
                        </div>
                    </div>
                    
                </div>
                <div style="
                display: flex;
                flex-direction: row;
                align-items: center;
            ">

                    <!-- <span class="material-symbols-outlined add_task_icon">radio_button_unchecked</span> -->
                    <div 
                        contenteditable="true" 
                        id="newTaskContent"
                        class="new-task-content rounded-2" 
                        placeholder="Create task..."></div>
                    <span 
                    id="add-new-task-ok" 
                    ng-click="handleSaveTask();"
                    class="material-symbols-outlined add_task_icon">send</span>
                    <span 
                    id="confirm-change-button" 
                    style="display: none;" 
                    ng-click="updateTask()"
                    class="material-symbols-outlined add_task_icon">edit_note</span>

                </div>
            </div>
        </div>
    </div>















    <!-- more options panel -->
    <div id="list-more-options-container" ng-show="show_list_more_options">
        <div class="list-more-optionas-holder">
            <div id="remove-completed-tasks-button" class="task-more-options-item">
                <span class="material-symbols-outlined">cloud</span>
                <span id="total_size" ng-bind="app_size_value"></span>
            </div>

            <div id="change-theme-button" class="task-more-options-item" ng-click="toggle_theme()">
                <span class="material-symbols-outlined">{{theme_menu_icon}}</span>
                <span>{{theme_menu_text}}</span>
            </div>

            <div ng-click="purgeList()" id="remove-all-tasks-button" class="task-more-options-item"
                ng-show="show_purge_list_option">
                <span class="material-symbols-outlined">opacity</span>
                <span>Empty List</span>
            </div>

            <div 
                id="delete-list-ok" 
                class="task-more-options-item text-red-500" 
                ng-click="handleDeleteList()"
                ng-show="show_delete_list_option">
                <span class="material-symbols-outlined">delete</span>
                <span>Delete List!</span>
            </div>
            <div class="task-more-options-item text-red-500" ng-click="toggle_list_more_options_visibility()">
                <span class="material-symbols-outlined">cancel</span>
                <div>Close</div>
            </div>
        </div>
    </div>

    <!-- blocking screen  -->
    <div 
    class="block-screen" 
    ng-show="show_list_more_options || show_task_more_options"
    ng-click="handle_click_on_blockscreen()"></div>

    <!-- toast message -->
    <div class="toast" style="z-index: -99; opacity: 0;">
    </div>



    <!-- taskMoreOptiosContainer -->
    <div class="taskMoreOptionsConatiner" ng-show="show_task_more_options">
        <div class="task-more-options-holder">
            <div class="task-more-options-item" id="editTaskButton" ng-click="editTask();">
                <span class="material-symbols-outlined ">edit</span>
                <div>Edit note</div>
            </div>
            <div class="task-more-options-item" ng-click="deleteTask();" class="danger">
                <span class="material-symbols-outlined">delete</span>
                <div>Delete note</div>
            </div>
            <div class="task-more-options-item" ng-click="move_task(-1)">
                <span class="material-symbols-outlined">expand_less</span>
                <div>Move Up</div>
            </div>
            <div class="task-more-options-item" ng-click="move_task(1)">
                <span class="material-symbols-outlined">expand_more</span>
                <div>Move Down</div>
            </div>


            <div class="task-more-options-item" ng-click="moveTask();">
                <span class="material-symbols-outlined">mediation</span>
                <div>Move to another list</div>
            </div>
            <div class="task-more-options-item" ng-click="mergeTask();">
                <span class="material-symbols-outlined">architecture</span>
                <div>Merge with another note</div>
            </div>

            <div class="task-more-options-item" ng-click="strike_out_task();" ng-show="task_completed_state">
                <span class="material-symbols-outlined">done_outline</span>
                <div>Strike Clear</div>
            </div>
            <div class="task-more-options-item" ng-click="strike_out_task();" ng-show="!task_completed_state">
                <span class="material-symbols-outlined">done</span>
                <div>Strike Out</div>
            </div>
            <div class="task-more-options-item text-red-500" ng-click="close_task_more_options()">
                <span class="material-symbols-outlined">cancel</span>
                <div>Close</div>
            </div>
        </div>
    </div>





    <script type="text/javascript" src="scripts/handleAngular.js"></script>
    <script type="text/javascript" src="scripts/htmlGenerator.js"></script>
    <script type="text/javascript" src="scripts/handleSingleTaskEvents.js"></script>
    <script type="text/javascript" src="scripts/handleOpenCloseEventOfNavBarPanels.js"></script>
    <!-- <script type="text/javascript" src="scripts/handleNavBarEvents.js"></script> -->
    <script type="text/javascript" src="scripts/utilities.js"></script>
    <script type="text/javascript" src="scripts/svgAnimation.js"></script>
    <script type="text/javascript" src="scripts/icon_database.js"></script>




</body>

</html>