<!DOCTYPE html>
<html lang="en">

<head>
    <title>NoteBook</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta content="todo app" name="keywords">
    <meta name="description" content="NoteBook app">
    <meta http-equiv="cache-control" content="max-age=8000" />
    <meta http-equiv="cache-control" content="Private" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/ios/180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ios/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ios/16.png">
    <link rel="icon" href="/img/ios/180.png">
    <link rel="manifest" href="manifest.json">
    <meta id="theme-color" name="theme-color" content="aliceblue" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="styles/main.min.css">
    <link rel="stylesheet" href="styles/dark.min.css">
    <link rel="stylesheet" href="styles/custom_styles.min.css">
</head>

<body ng-app="notebook_app" ng-controller='main_controller' ng-init="init()" data-theme="{{is_dark?'dark':'light';}}">
    <div class="main-container">
        <!-- top bar -->
        <top-bar class="topbar bg-blur scroll"></top-bar>
        <!-- content bar -->
        <main-content class="content "></main-content>
        <!-- bottom bar -->
        <bottom-bar class="bottom-bar"></bottom-bar>
    </div>
    <side-bar class="sidebar-menu-container" ng-style="sidebar_left"></side-bar>

    <!-- create-notebook-popup -->
    <create-notebook-popup style="bottom: 30vh;" class="popup" ng-show="dialog_flags.show_notebook_popup">
    </create-notebook-popup>

    <!-- create-var-popup -->
    <popup-Create-Var style="bottom: 30vh;" class="popup"
        ng-show="dialog_flags.show_create_system_var_popup"></popup-Create-Var>
    </popup-Create-Var>

    <!-- rename notebook dialog pop up-->
    <popup-rename-notebook style="bottom: 30vh;" ng-show="dialog_flags.show_rename_notebook_popup" class="popup">
    </popup-rename-notebook>

    <!-- import popup -->
    <popup-db style="top: 20vh;" class="popup" ng-show="dialog_flags.show_db_popup"></popup-db>

    <!-- more options panel for note-->
    <div class="list-more-options-container" ng-show="dialog_flags.show_note_more_options">
        <div class="list-more-optionas-holder ">
            <div ng-repeat="option in note_more_options" ng-class="option.class" ng-click="option.action()"
                ng-show="option.show">
                <img class="svg-icon" ng-src="{{get_svg_src(option.icon)}}" alt="icon">
                <div>{{option.text}}</div>
            </div>
        </div>
    </div>

    <!-- more options panel for notebook-->
    <div class="list-more-options-container" ng-show="dialog_flags.show_list_more_options">
        <div class="list-more-optionas-holder ">
            <div ng-repeat="option in notebook_more_options" ng-class="option.class" ng-click="option.action()"
                ng-show="option.show">
                <img class="svg-icon" ng-src="{{get_svg_src(option.icon)}}" alt="icon">
                <div>{{option.text}}</div>
            </div>
        </div>
    </div>

    <!-- notebooks list for various options -->
    <quick-notebooks class="list-more-options-container" ng-init="load_quick_notebooks()"
        ng-show="dialog_flags.show_quick_notebooks"></quick-notebooks>


    <!-- blocking screen  -->
    <div class="block_screen" ng-show="is_any_dialog_open()" ng-click="close_all_dialogs()"></div>

    <!-- toast message -->
    <div ng-class="{show:is_toast_visible}" class="toast transition text-center capitalize bg-blur">{{toast_msg}}
    </div>

    <!-- passwrord popup -->
    <popup-password style="bottom: 30vh;" ng-show="dialog_flags.show_password_popup;" class="popup"></popup-password>

    <script src="/app.js"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.3/Sortable.min.js"
        integrity="sha512-8AwTn2Tax8NWI+SqsYAXiKT8jO11WUBzTEWRoilYgr5GWnF4fNqBRD+hCr4JRSA1eZ/qwbI+FPsM3X/PQeHgpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"
        integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/aes.min.js"
        integrity="sha512-UOtWWEXoMk1WLeC873Gmrkb2/dZMwvN1ViM9C1mNvNmQSeXpEr8sRzXLmUSha1X4x5V892uFmEjiZzUsYiHYiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--load services -->
    <script type="text/javascript" src="scripts/services/db_service.js"></script>
    <script type="text/javascript" src="scripts/services/notebook_service.js"></script>
    
    <!-- <script type="text/javascript" src="scripts/main_controller.js"></script> -->
    <script type="text/javascript" src="scripts/main_controller.min.js"></script>

    <script type="text/javascript" src="scripts/angular_module.js"></script>
    <script type="text/javascript" src="scripts/list.js"></script>
    <script type="text/javascript" src="scripts/task.js"></script>
    <script type="text/javascript" src="scripts/wiki.js"></script>
    <script type="text/javascript" src="scripts/utilities.js"></script>
</body>

</html>