/* formatting classes for notes */
.yellow{
    color:#f4b424;
}
.orange
{
    color:#ff9e40;
}
.teal{
    color:teal;
}
.red {
    color: #fd4967; 
}

.green {
    color: #49dc6b;
}

.blue {
    color: var(--accent);
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.text-right {
    text-align: right;
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: #ff4967;
}

.bg-blue {
    background-color: #37a2eb;
}

.bg-teal {
    background-color: #4cc0c0;
}

.bg-orange {
    background-color: #ff9e40;
}

.bg-purple {
    background-color: #9a66ff;
}

.bg-yellow {
    background-color: #ffcd56;
}

.bg-blur{
    -webkit-backdrop-filter: blur(var(--block-screen-blur));
    backdrop-filter: blur(var(--block-screen-blur));
}

.grayscale {
    filter: grayscale(1);
}

.colorful {
    filter: grayscale(0);
}

.bg-red-pink
{
    background:linear-gradient(90deg, #ff4967, #f3217a);
}

grid_title_bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.bg-light-red {
    background: #ffe7eb;
}


.inline{
    display:inline !important;
}
.p-125
{
    padding:.125rem;
}
.p-1{
    padding:1rem;
}

.border {
    border: 1px solid var(--list-border);
}

.wrap{
    flex-wrap:wrap;
}

.col-reverse
{
    display:flex;
    flex-direction:column-reverse;
}
.grow{
    flex-grow:1;
}


.gradient-text-orange
{
    background: -webkit-linear-gradient(left,#ff9e40, #ff5c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spacer {
    height: 3.5rem;
}