.absolute {
    position: absolute
}

.align-center {
    align-items: center
}

.align-end {
    align-items: end;
}

.align-items-inherit {
    align-items: inherit !important;
}

.bg-blue {
    background-color: #37a2eb
}

.bg-blur {
    -webkit-backdrop-filter: blur(var(--block-screen-blur));
    backdrop-filter: blur(var(--block-screen-blur))
}

.bg-green {
    background-color: var(--green)
}

.bg-light-red {
    background: #ffe7eb
}

.bg-orange {
    background-color: #ff9e40
}

.bg-purple {
    background-color: #9a66ff
}

.bg-red {
    background-color: #ff4967
}

.bg-red-pink {
    background: linear-gradient(90deg, #ff4967, #f3217a)
}

.bg-teal {
    background-color: #4cc0c0
}

.bg-yellow {
    background-color: #ffcd56
}

.blue {
    color: var(--accent)
}

.blur {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.bold {
    font-weight: 700
}

.border {
    border: 1px solid var(--theme_button_border);
}

.capitalize {
    text-transform: capitalize
}

.center {
    text-align: center
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse
}

.colorful {
    filter: grayscale(0) !important;
}

.flex-col {
    display: flex;
    flex-direction: column
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse
}

.gradient-text-orange {
    background: -webkit-linear-gradient(left, #ff9e40, #ff5c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.gradient-text-red {
    background: linear-gradient(90deg, #ff4967, #f3217a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gray {
    color: gray;
}

.grayscale {
    filter: grayscale(1)
}

.green {
    color: #49dc6b
}

.grow {
    flex-grow: 1
}

h1,
h2,
h3,
h4,
h5,
h6 
{
    margin: 0 0;
    text-transform: capitalize;
    font-weight: 700;
}

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.5em;
}

.h3 {
    font-size: 1.17em;
}

.h4 {
    font-size: 1em;
}

.h5 {
    font-size: .83em;
}

.h6 {
    font-size: .67em;
}

.hide {
    display: none !important;
}

.inline {
    display: inline !important
}

.ios-blue {
    color: #007aff
}

.ios-orange {
    color: #ff9f0a
}

.italic {
    font-style: italic
}

.justify-left {
    justify-content: left
}

.justify-space-between {
    justify-content: space-between
}

.light-gray {
    color: #464646
}

.line-through {
    text-decoration: line-through !important;
}

.m-1 {
    margin: .5rem
}

.m-1 {
    margin: .5rem
}

.m-1\/2 {
    margin: .5rem
}

.m-1\/2 {
    margin: .5rem
}

.m-2 {
    margin: 1rem
}

.mt-4 {
    margin-top: 2rem;
}

.my-1 {
    margin: 0.5rem 0px;
}

.my-1\/2 {
    margin: 0px 0.25rem;
}

.orange {
    color: #ff9e40
}

.p-1 {
    padding: 1rem
}

.p-125 {
    padding: .125rem
}

.p-1\/2 {
    padding: .5rem
}

.p-2 {
    padding: 1rem
}

.p-2 {
    padding: 1rem
}

.p-bottom-1\.5 {
    padding-bottom: 1.5rem
}

.pt-4 {
    padding-top: 4rem;
}

.purple {
    color: #9a66ff
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-1\/2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-2 {
    padding: 0 1rem
}

.px-2 {
    padding: 0 1rem
}

.py-1\/2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.red {
    color: #fd4967
}

.relative {
    position: relative
}

.relative {
    position: relative
}

grid_title_bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .5rem
}

.right {
    text-align: right
}


.rounded {
    border-radius: .25rem
}

.rounded-1 {
    border-radius: .5rem
}

.rounded-2 {
    border-radius: 1rem
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-3 {
    border-radius: 1.5rem
}

.rounded-3 {
    border-radius: 1.5rem
}

.rounded-4 {
    border-radius: 2rem
}

.rounded-full {
    border-radius: 999px
}

.space-between {
    justify-content: space-between
}

.spacer {
    height: 0px;
}

.submenu_item_select_label {
    align-items: center;
    background: 0 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    gap: .5rem;
}

.teal {
    color: teal
}

.text-left {
    text-align: left
}

.text-lg {
    font-size: 1.25rem
}

.text-md {
    font-size: 1rem
}

.text-red-500 {
    color: #ef4444
}

.text-right {
    text-align: right
}

.text-sm {
    font-size: .875rem
}

.text-xl {
    font-size: 1.5rem
}

.text-xxl {
    font-size: 2rem;
}

.text-xxxl {
    font-size: 4rem;
}

.underline {
    text-decoration: underline
}

.w-full {
    width: 100%
}

.w-half {
    width: 50% !important;
}

.w-max-content {
    width: max-content
}

.wrap {
    flex-wrap: wrap
}

.yellow {
    color: #f4b424
}

.mono {
    font-family: monospace !important;
}