/* formatting classes for notes */
.yellow{
    color:#f4b424;
}
.orange
{
    color:#ff9e40;
}
.teal{
    color:teal;
}
.red {
    color: #fd4967; 
}

.green {
    color: #49dc6b;
}

.blue {
    color: var(--accent);
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.text-right {
    text-align: right;
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: #ff4967;
}

.bg-blue {
    background-color: #37a2eb;
}

.bg-teal {
    background-color: #4cc0c0;
}

.bg-orange {
    background-color: #ff9e40;
}

.bg-purple {
    background-color: #9a66ff;
}

.bg-yellow {
    background-color: #ffcd56;
}

.grayscale {
    filter: grayscale(1);
}

.colorful {
    filter: grayscale(0);
}

.bg-red-pink
{
    background:linear-gradient(90deg, #ff4967, #f3217a);
}

grid_title_bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}