[data-theme='dark'] {
    --font-color: white;
    --bg-color: #272727;
    --list-bg: #222222;
    --border-color: #2997ff;
    --chip-bg: #191919;
    --chip2-border: #121212;
    --progress-a: #2997ff;
    --progress-b: #121212;
    --more-options-border-color: #363636;
    --create-notebook-bg: #44409b54;
    --system-var-bg: rgb(30 30 30);
    --system-var-border: #333;
    --age_text_color: gray;
    --theme_button_border: #444444;
    /* white in light theme and black in dark mode  */
    --white_black: #222;
    --bottom-bar-bg: rgb(45 45 45);
    --task-complete-color: #EF4444;
    --table-bg: #222;
    --color-btn-background: #333;
    --highlight-color: yellow;
    --highlight-bg: black;
    
    table {
        border: 1px solid #202020ad;
    }

    thead tr {
        background: linear-gradient(90deg, #ff4967, #f3217a);
    }

    th {
        background: transparent;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: #212121;
    }

    tr:nth-child(even) {
        background-color: #292929a1;
    }

    tr {
        border-top: 1px solid #23232333;
    }

    .topbar {
        /* background: #303030; */
    }
    
    .highlight
    {
        color: #ff4967;
        background: #fff0f3;
    }
}

