[data-theme='dark'] {
    --font-color: white;
    --bg-color: #272727;
    --list-bg: #222222;
    --border-color: #2997ff;
    --chip-bg: #191919;
    --chip2-border: #404040;
    --progress-a: #2997ff;
    --progress-b: #121212;
    --more-options-border-color: #363636;
    --create-notebook-bg: #44409b54;
    --system-var-bg: rgb(30 30 30);
    --system-var-border: #333;
    --age_text_color: gray;
    --theme_button_border: #444444;
    /* white in light theme and black in dark mode  */
    --white_black: #222;
    --bottom-bar-bg: rgb(45 45 45);
    --task-complete-color: #EF4444;
    --table-bg: #222;
    --color-btn-background: #333;
    --highlight-color: yellow;
    --highlight-bg: black;

    
    table {
        border: 1px solid #202020ad;
    }

    thead tr {
        /* background: linear-gradient(90deg, #ff4967, #f3217a); */
        background: #161616 !important;
    }

    th {
        background: transparent;
        color: white;
    }

    /* no space after : */
    tr:nth-child(odd) {
        background-color: #212121;
    }
    
    /* no space after : */
    tr:nth-child(even) {
        background-color: #292929a1;
    }

    tr {
        border-top: 1px solid #23232333;
    }

    .topbar {
        background: #272727;
    }

    .highlight {
        color: #ff4967;
        background: #ff49671a;
    }

    .toast {
        border: 1px solid #ffffff1c;
    }

    .list-sub-text {
        color: orange;
    }
    
    .create-note-text {
    color:#464646;
    }


    .group_by_text {
    padding: 0.5rem;
    font-weight: bold;
    opacity: 0.2;
}


.shadow-up {
    box-shadow: 0px -2px 4px #181818;
}


.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1E1E1E;
    border:none;
    padding: 10px;
    border-radius: 8px;
    margin: .5rem .5rem;
}

.transaction-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.transaction-icon {
    width: 40px;
    height: 40px;
    background: #00000038;
    box-shadow:0px 1px 2px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-text {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: gray;
    text-transform: capitalize;
}

.transaction-details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.amount {
    font-size: 16px;
    font-weight: bold;
}

.time {
    color: #808080bf;
    text-transform: capitalize;
    font-size: 0.8rem;
}







    
    
}

