[data-theme='dark']
{
    --font-color: white;
    --bg-color:#000;
    --list-bg:#222423;
    --border-color:#2997ff;
    --accent:#2997ff;
    --list-border:#494949;
    --chip-bg:#121212;

    --progress-a:#2997ff;
    --progress-b:#121212;

    --more-options-border-color:#363636; 
    
}



