[data-theme='dark']
{
    --font-color: white;
    --bg-color:#131417;
    --list-bg:#1e1f26;
    --border-color:#2997ff;
    --accent:#2997ff;
    --list-border:#494949;
    --chip-bg:#121212;

    --progress-a:#2997ff;
    --progress-b:#121212;
    
}



