html
{
    /* light theme vars, dark theme vars in dark.css */
    --font-color: #333;
    --bg-color: whitesmoke;
    --border-color: #fff;
    --list-border:#d1d1d1;
    --list-bg:white;
    --border-color:#2997ff;
    --accent:#2997ff;
    --chip-bg:whitesmoke;
    --progress-a:#4ade80;
    --progress-b:aliceblue;
    --more-options-border-color:#e6e6e6;
    --more-options-blur:32px;
    --create-notebook-bg:white;

    --system-var-bg:#ffffff;
    --system-var-border:#cfcfcf;
    --block-screen-blur:4px;
    width:100%;
    height:100%:
}

body {
    margin: 0;
    position: absolute;
    top:0px;
    left:0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size:12px;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*! overflow: hidden; */
    flex-grow: 1;
    /* background: aliceblue; */
}

.blur {
    filter: blur(0px);
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

.app-title
{
    color: var(--accent);
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bold;
    background: transparent;
    border: none;
    display: block;
    text-decoration: none;
    appearance: none;
    outline: none;
    text-align: center;
    text-wrap: nowrap;
}


.selected-list {
    color: white;
    background: #44409b;
}

.greetings {
    font-size: 115%;
    color: #454284;
    margin-top: 15px;
    padding-left: 10px;
}

input {
    margin: 0;
    border: none;
    height: 36px;
    padding: 10px;
    font-size: 0.95rem;
}

input:focus {
    outline: none;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
}

.ripple:active {
    background-color: #AFAFED;
    background-size: 100%;
    transition: background 0s;
}

.empty {
    text-align: center;
    font-size: 1.5em;
    color: #454284;
}

.nav-bar-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: white;
    padding: 4px 0px 2px 0px;
    z-index: 999;
    border-top: 1px solid #e1e1e1;
    font-size: 100%;
}

.nav-bar-item>i {
    font-size: 19px;
    transition: 0.5s all;
}

.nav-bar-options .nav-bar-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 7px;
}

.nav-bar-options .selected {
    background: #44409b17;
    border-radius: 4px;
}

.nav-bar-options .disabled {
    color: #acacac;
}

.input-panel {
    background: white;
    width: 90%;
    border-radius: 100px;
    border-top-left-radius: 10px;
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 0.5s all cubic-bezier(0.94, 0.18, 0.02, 0.75);
    height: 100px;
    position: absolute;
    bottom: 60px;
    overflow: hidden;
    left: calc(5% + 10px);
}

.input-panel.hidden {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    left: calc(50% - 10px);
    padding: 0px;
}

#view-lists-panel {
    width: 95%;
    height: calc( 100% - 90px);
    overflow-y: auto;
    border-radius: 5px;
    margin-left: 2.5%;
    bottom: 60px;
    opacity: 0;
    display: none;
    flex-flow: wrap;
    z-index: 998;
}

.list-panel-item {
    display: inline-flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 100%;
    transition:0.2s all;
    border: 1px solid var(--list-border);
}
/* .list-panel-item:last-child
{
    border:none;
} */

.list-panel-item-title {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#add-new-task-panel {
    padding: 25px;
    background: #ffffff;
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 0px 5px #969696;
    width: 90%;
    height: 400px;
    border-radius: 50px;
    border-bottom-right-radius: 8px;
    left: calc(5%);
    bottom: calc(50% - 200px);
    transition: 0.5s all cubic-bezier(0.39, -0.41, 0.55, 1.36);
    transform: scale(0);
    opacity: 0;
}

.toast {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    width: max-content;
    max-width: 90%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0;
    color: var(--accent);
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 100px;
    backdrop-filter:blur(var(--more-options-blur));
    -webkit-backdrop-filter:blur(var(--more-options-blur));
    border: 1px solid var(--accent);
}

.content-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
    padding: 0.75rem;
     flex: 1;
    overflow-y: auto;
}

.task {
    padding: 0.5rem;
    display: flex;
    word-break: break-word;
    user-select: all;
    /* background-color: var(--list-bg); */
    /* border-radius: 0.5rem; */
    align-items: center;
    transition: 0.5s all;
    margin: 0.75rem;
    border-bottom: 1px solid var(--list-border);
}

.task .dashed {
    height: 2px;
    background: #7070708f;
    /* width: 0px; */
    position: absolute;
    border-radius: 10px;
    /* transition: 0.5s all; */
}

.task p{
    margin:0.5rem;
}

.task li{
    margin:0.5rem;
}

.task .task-content-div {
    margin-left: 10px;
    width: 100%;
    color: var(--font-color);
}

.task.completed>.task-content-div {
    text-decoration: line-through;
}

.task.priority {
    animation: 1s blinking infinite;
}



@keyframes blinking {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

search_list_name {
    text-transform: capitalize;
    text-align: right;
    width: max-content;
    font-size: 80%;
}

.completed {
    box-shadow: none;
    color: #4cd964;
}

.completed>i {
    color: gray;
    text-decoration: none;
}

.empty-list {
    text-align: center;
    color: #97e2fa;
    font-size: 150%;
}

.empty-list span {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.empty-animated-div {
    background-color: #e5e5e5;
    color: #F44336;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 80px;
    text-align: center;
}

.list {
    padding: 10px 10% 10px 10%;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    color: #282828;
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 0px 5px #c0c0c0a3; */
    min-width: 90%;
    float: left;
    background: white;
}

.list span {
    margin-left: 10px;
}

.list .list:nth-child(odd) {
    background: #e5e5e542;
}

.list .list:nth-child(even) {
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
}

.list .title {
    display: flex;
}

.list .title span {
    margin-left: 10px;
    font-size: 150%;
    width: 100%;
    text-transform: capitalize;
}

.list .title i {
    align-self: center;
    color: #44409b;
}

.list-properties {
    display: inline-flex;
    align-self: flex-end;
}

.list-properties div {
    display: flex;
    margin-top: 5px;
}

.list-properties :nth-child(2) {
    align-self: flex-end;
    margin-left: 5px;
}

.list-properties span {
    margin-left: 2px;
}

.list-properties div:nth-child(1) i {
    color: #8BC34A;
    font-weight: bold;
}

.list-properties div:nth-child(2) i {
    color: #44409b;
}

.list-more-vert-menu-container {
    width: 100%;
    height: 100%;
    background: #44409b00;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -999;
}

.list-more-vert-menu {
    background: #AFAFED;
    color: white;
    border-radius: 20px;
    border-top-right-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px 0px;
    font-size: 106%;
    z-index: 999;
    clip-path: inset(0 0 100% 0);
    transition: 0.5s all;
    transform: translate(-100%, 10px);
}

.list-more-vert-menu div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 20px;
    color: #ffffff;
    font-size: .875rem;
    letter-spacing: .0892857143em;
    user-select: none;
    overflow: hidden;
}

.list-more-vert-menu div:active {
    background: #ffffff33;
}

.nav-bar-content-holder {
    display: flex;
    transition: 0.5s all;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    bottom: 90px;
    width: -webkit-fill-available;
}

.hide-nav-bar-holder {
    height: 0px;
}

.nav-bar-panel {
    width: 100%;
    background: var(--list-bg);
    color: var(--font-color);
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
}

.visible {
    display: flex;
    animation: showPanel 0.2s;
}

@keyframes showPanel {
    0% {
        opacity: 0;
        bottom: 20px;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        bottom: 0px;
        transform: scale(1);
    }
}

.hide-add-task-panel {
    display: none;
}

.add-task-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-task-content {
    padding: .5rem;
    background: #44409b1f;
    overflow-y: auto;
    max-height: 400px;
    width: 100%;
    color: var(--font-color);
    font-size: 0.8rem;
    border: none;
    resize: none;
    height: 200px;
}

.new-task-content:not(:empty) {
    color: var(--font-color);
}

.new-task-content:empty:before {
    content: attr(placeholder);
}

.new-task-content:focus {
    outline: none;
}

.add-task-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
}

.add-task-options .selectedOption {
    background: #44409b6b;
}

.add-task-options>i {
    background: white;
    border-radius: 100px;
    padding: 5px;
    transition: 0.5s all;
}

#add-task-to-this-list {
    background: #66339926;
    color: #333;
    border: 1px solid;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    padding: 3px 20px;
    text-transform: capitalize;
    /* display: inline; */
}

#new-list-title {
    background: white;
    color: #44409b;
    border: 1px solid;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    padding: 6px 20px;
    /* display: inline; */
    transition: 0.5s all;
}

#new-list-title:focus:before {
    color: #44409b;
}

#new-list-title:empty {
    color: gray;
}

#new-list-title:empty:before {
    content: attr(placeholder);
}

#new-list-title:focus {
    outline: none;
}

.toggle-priority-task-button {
    margin-top: 4px;
    align-self: center;
    justify-self: flex-end;
}

.fav_color {
    color: #ff5d94;
}

#task-action-pop-parent {
    position: absolute;
    width: 194px;
    height: 51px;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    z-index: 999;
    display: flex;
    overflow: hidden;
}

#task-action-pop-text {
    color: #44409B;
    text-align: center;
    width: 100%;
    align-self: center;
    z-index: 999;
}

#task-action-pop-progress {
    background: #e3e3e3;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    transition: 0.5s all;
}

.more-options-content {
    right: 0px;
    bottom: 0px;
    position: absolute;
    background: #ffffff00;
    padding: 10px 10px;
}

.more-options-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.5rem;
    justify-content: space-between;
}

div#list-more-options-container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.list-more-optionas-holder {
    display: flex;
    flex-direction: column;
    /* background: var(--list-bg); */
    border-radius: 1rem;
    width: 80%;
    padding: .5rem;
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter:blur(var(--more-options-blur));
    border:1px solid var(--more-options-border-color);
}

.block-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 900;
    -webkit-backdrop-filter: blur(var(--block-screen-blur));
    backdrop-filter:blur(var(--block-screen-blur));
}

.hide-block-screen {
    display: none;
}

.list-panel-item>div>article {
    text-transform: capitalize;
    font-size: 0.95rem;
    margin-left: 0.5rem;
    width: -webkit-fill-available;
    padding: 0.5rem .25rem;
    transition: 0.5s all;
}

.list-panel-item>article.selected {
    background: #44409b;
    color: white;
}

.list-sub-text {
    color: var(--accent);
    align-self: center;
    margin: .5rem;
    text-align: end;
    font-weight: bolder;
}

list-progress {
    width: 100%;
    background-color: #8080803b;
    background-image: linear-gradient(45deg, #8BC34A, #8BC34A);
    background-repeat: no-repeat;
    height: 5px;
    border-radius: 100px;
    margin-top: 5px;
}

.list-progress-text {
    text-align: center;
    font-size: 95%;
    margin-top: 4px;
}

.list-upcoming-tasks-headline {
    color: gray;
    margin-top: 5px;
    align-self: center;
    padding: 2px 10px;
    font-size: 80%;
}

.upcoming-task-overview {
    border-radius: 100px;
    margin: 5px 5px;
    color: #282828;
    display: flex;
    word-break: break-word;
    align-items: center;
    font-size: 90%;
}

.upcoming-task-overview>i {
    font-size: 105%;
    margin-right: 10px;
}

.schedule-message-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #44409b1f;
    border-radius: 100px;
    padding: 5px 10px;
}

.schedule-message-holder>i {
    background: white;
    border-radius: 100px;
    font-size: 180%;
}

.svg-cloud {
    animation: 3s move-cloud infinite;
}

@keyframes move-cloud {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

no-list-msg {
    text-align: center;
}

no-list-msg:nth-child(2) {
    font-size: 150%;
    color: #707070;
}

no-list-msg:nth-child(3) {
    font-size: 120%;
    color: #b6b6b6;
}

no-list-msg:nth-child(4) {
    font-size: 100%;
    color: #00b2eb;
    border: 1px solid #03A9F4;
    border-radius: 100px;
    padding: 5px 10px;
    align-self: center;
    margin-top: 4px;
}

.bootstrap-datetimepicker-widget button.btn.btn-primary {
    background: #8BC34A;
    border: none;
}

div.show-color-palette {
    display: flex;
}

.color-palette {
    display: none;
    justify-content: space-evenly;
}

.color-palette>div {
    height: 30px;
    width: 20px;
    border-radius: 100px;
    background: #E91E63;
}

.taskMoreOptionsConatiner {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.task-more-options-item {
    padding: .6rem;
    margin: 0.25rem;
    font-size: 110%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
    touch-action:auto;
}
.task-more-options-item:hover{
    color:var(--accent);
}


.task-more-options-item:last-child{
    border:none;
}

.task-more-options-holder {
    display: flex;
    flex-direction: column;
    /* background: var(--list-bg); */
    border-radius: 1rem;
    width: 80%;
    backdrop-filter:blur(var(--more-options-blur));
    -webkit-backdrop-filter:blur(var(--more-options-blur));
    border:1px solid var(--more-options-border-color);
    
}

.taskMoreOptionsConatiner > div > i {
    font-size: 100%;
    margin: 0px 10px;
}

.hide-task-more-options {
    display: none;
}

div#close-task-more-options {
    color: red;
}

#search-box {
    padding: 0.75rem;
    color: var(--font-color);
    border-radius: 8px;
    background: var(--list-bg);
    overflow-y: auto;
    width: -webkit-fill-available;
    margin: 0.5rem;
    /* border-bottom: 2px solid var(--border-color); */
}

.alphabet-sort {
    padding: 5px 10px;
    background: #673ab714;
    display: inline;
    margin: 8px;
    border-radius: 3px;
    align-self: flex-start;
}

#back-button {
    color: var(--accent);
    font-size: 160%;
    border-radius: 100px;
    text-align: center;
    margin: 0rem 0.5rem;
    font-weight:bold;
}

input.add-new-list-title {
    width: 100%;
    background: var(--create-notebook-bg);
    color: var(--font-color);
    padding: 1.5rem;
    font-size: 0.8rem;
}

.add-task-list-title {
    text-transform: capitalize;
    border-radius: 2px;
    background: #3d3a8c26;
    align-self: baseline;
    padding: 5px 20px;
    font-size: 120%;
}

.my-button {
    text-transform: capitalize;
    border-radius: 5px;
    align-self: baseline;
    padding: 5px 15px;
    font-weight: bold;
    color: mediumslateblue;
}

.fab-button {
    display: inline;
    position: absolute;
    background: #c7e5ff;
    border-radius: 10px;
    padding: 5px;
    font-size: 200%;
    right: 15px;
    transform: rotate(45deg);
    bottom: 100px;
    transition: 0.5s all;
    color: #555;
}

.rotate {
    transform: rotate(90deg);
}

/* slide button */
.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 50px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #44409b;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s cubic-bezier(0, 1.24, 0.58, 1);
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 10px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 10px;
    bottom: 5px;
}

/* apply dark styles */
input:checked + .slider {
    background-color: #66bb6a;
    --background-color: #222;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.danger {
    color: #E91E63;
}

.cancel-action {
    text-align: center;
    display: flex;
    justify-content: center;
}

.cancel-action>div {
    display: flex;
    align-items: center;
}

.add-task-edit-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0rem 0.5rem;
}

#open-add-new-list-panel>div {
    position: absolute;
    background: #343434;
    width: 5px;
    height: 30px;
    border-radius: 2px;
    transform: rotate(90deg);
    transition: 0.5s all;
}

#open-add-new-list-panel>div:nth-child(1) {
    transform: rotate(-45deg);
    top: 0px;
    height: 20px;
    left: 0px;
}

#open-add-new-list-panel>div:nth-child(2) {
    transform: rotate(45deg);
    top: 0px;
}

#open-add-new-list-panel>div:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    left: 10px;
    height: 20px;
}

#open-more-panel {
    z-index: 999;
    background: var(--bg-color);
    border-radius: 100px;
    font-size: 1.5rem;
    margin: .5rem;
    color:var(--accent);
    font-weight: bold;
    position: relative;
}



.add_task_icon {
    color: var(--accent);
    border-radius: 100px;
    background: var(--list-bg);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.p-2
{
    padding: 1rem;
}
.m-2
{
    margin: 1rem;
}

.rounded
{
    border-radius:0.25rem;
}

.rounded-1
{
    border-radius:0.5rem;
}

.rounded-2
{
    border-radius:1rem;
}

.rounded-3
{
    border-radius:1.5rem;
}

.rounded-4
{
    border-radius:2rem;
}

.px-2 {
    padding: 0rem 1rem;
}

/* bg based on theme dark and light */
.bg-list-bg
{
    background:var(--list-bg)
}

.lists-container {
    background: var(--list-bg);
    transition:0.5s all;
    flex-shrink: 0;
    flex-grow: 1;
    width: calc(100% - 2rem);
    scroll-snap-align: center;
}

.slide_animation {
    animation: slide_anim 0.2s;
}

@keyframes slide_anim {
    0% {
        opacity: 0;
        transform: scale(0.95);
        transform:translate(10%,0)
        
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform:translate(0%,0)
        
    }
}


.chip {
    background: var(--chip-bg);
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.progress_bar_holder{
    display:flex;
    gap:1rem;
}


.progress_bar {
    margin: 0.5rem;
    height: 20px;
    width: 50%;
    border-radius: 1rem;
    /* background: linear-gradient(
    to right, 
    var(--progress-a),
    var(--progress-a) 50%,
    var(--progress-b) 50%,
    var(--progress-b)
  ); */
}

.progress_bar:before{
    content:  attr(data-value)"%";
    font-size:16px;
    text-align:center;
    display: block;
    text-shadow: 0px 0px #717171;
}

.list-icon{
    color: var(--accent);
    font-weight: bold;
    font-size: 1.3rem;
}


.visible_pop_animation
{
    animation: pop_anim 0.2s;
    transform-origin: center;
}

@keyframes pop_anim {
    0% {
        opacity: 0;
        bottom: 20px;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        bottom: 0px;
        transform: scale(1);
    }
}

.tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
}


.tab {
  width: 486px;
  height: 100vh;
  display: flex;
  flex-direction:column;
  box-sizing: border-box;
  flex: 1 0 100%;
}




.gap-1
{
    gap:0.5rem;
}
.gap-2
{
    gap:1rem;
}


.transition{
    transition:0.5s all;
}

.overflow-y
{
    overflow-y:scroll;
}

.swiper{
    width:100%;
    height: 100%;
    overflow-y: auto !important;
}

h1,h2,h3,h4,h5 {
    margin: 0.5rem;
    text-transform:capitalize;
}
.justify-content-end {
    justify-content: end;
}

.content {
    flex: 1;
    overflow-y: auto;
}
.bottom-bar {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter:blur(var(--more-options-blur));
    -webkit-backdrop-filter:blur(var(--more-options-blur));
}

.select {
    background: transparent;
    color: white;
    border: 0px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
}



div#console-output {
    font-family: monospace;
    padding: 0.5rem;
    background: #510d51;
    max-height: 500px;
    overflow: scroll;
    width: 100%;
    overflow-wrap: anywhere;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-subtitle {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.app-subtitle .material-symbols-outlined
{
    font-size:1.1rem;
}



.input_popup {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.new_notebook_popup_child {
    display: flex;
    flex-direction: column;
    /* background: var(--list-bg); */
    border-radius: 1rem;
    width: 80%;
    padding: .5rem;
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter:blur(var(--more-options-blur));
    border:1px solid var(--more-options-border-color);
}

#new_task_popup {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;
}

.new_task_popup_child {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    /* background: var(--list-bg); */
    border-radius: 1rem;
    width: 98%;
    padding: .5rem;
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter:blur(var(--more-options-blur));
    border:1px solid var(--more-options-border-color);
}

.popup {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.button {
    background: var(--chip-bg);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: inline-flex;
    color:var(--accent);
    margin:0.5em;
    text-align: center;
    align-items: center;
}
.space-between {
    justify-content:space-between;
}

/* utilities classes must come after general class */
.text-red-500 {
    color: #ef4444;
}

.capitalize
{
    text-transform:capitalize;
}

.text-accent {
    color: var(--accent);
}
.text-center{
    text-align:center;
}

.bold{
    font-weight:bold;
}
.text-2
{
    font-size: 1rem;
}

.mt-2
{
    margin-top:1rem;
}

.border
{
    border: 1px solid var(--accent);
}

.system_var_item {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    background: var(--system-var-bg);
    font-size: 1rem;
    gap: 1rem;
    border-radius: 8px;
    border: 1px solid var(--system-var-border);
}

.var_icon {
    background: #ffdf2b;
    border:1px solid #e4c200;
    border-radius: 100px;
    padding:0.125rem 1rem;
    font-style:italic;
    font-family:math;
    color: black;
}

.var_chip{
    /* background:linear-gradient(90deg,#35c759,#0d8e2d); */
    padding:0.125rem 1rem;
    border-radius:100px;
    border:1px solid #35c759;
}

.bottom-bar-button.button {
    display:flex;
    flex-direction:column;
    align-items: center;
    flex: 1 1 auto;
    font-size: .65rem;
    background: none;
}
.bottom-bar-button .material-symbols-outlined
{
    font-size:1.2rem;
}

.system_var_title {
    font-size: 1rem;
    margin: 1rem;
}

.new-list-icon
{
    background: var(--accent);
    font-size: 1.3rem;
    border-radius: 4px;
    color: white;
}

/* Existing classes */
.red {
    color: #ff4967;
}

.green {
    color: #49dc6b;
}

.blue {
    color: var(--accent);
}

/* New classes with font-size: 24px */
.red1 {
    color: #ff4967;
    font-size: 24px;
    font-weight:bold;
}

.green1 {
    color: #49dc6b;
    font-size: 24px;
    font-weight:bold;
}

.blue1 {
    color: var(--accent);
    font-size: 24px;
    font-weight:bold;
}

/* New classes with font-size: 18px */
.red2 {
    color: #ff4967;
    font-size: 18px;
    font-weight:bold;
}

.green2 {
    color: #49dc6b;
    font-size: 18px;
    font-weight:bold;
}

.blue2 {
    color: var(--accent);
    font-size: 18px;
    font-weight:bold;
}

.empty-notebook {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}


.sidebar-menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 901;
    background: transparent;
    width: 75vw;
    height: 100%;
    transition: 0.5s all;
    left: -75vw;
    backdrop-filter:blur(var(--more-options-blur));
    -webkit-backdrop-filter:blur(var(--more-options-blur));
}

.scroll-y
{
    overflow-y:scroll;
}
img.empty_svg {
    height: 100px;
    width: 100px;
    background: var(--accent);
    border-radius: 1rem;
}

.flex-grow {
    flex-grow: 1;
}

.flex{
    flex:1
}

.justify-end {
    justify-content:end;
}
.p-3\/4
{
    padding:0.75rem;
}

.w-full{
    width:100%;
}