:root {
    --accent: #164ea6;
    --font-color: white;
    --bg-color: #272727;
    --border-color: #2997ff;
    --list-border: #d1d1d1;
    --list-bg: #222222;
    --chip-bg: #151618;
    --chip2-border: #404040;
    --progress-a: #2997ff;
    --progress-b: #121212;
    --more-options-border-color: #363636;
    --more-options-blur: 32px;
    --create-notebook-bg: #44409b54;
    --system-var-bg: rgb(30 30 30);
    --system-var-border: #333;
    --block-screen-blur: 32px;
    --age_text_color: gray;
    --theme_button_border: #444444;
    --white_black: #222;
    --icon-btn-color: white;
    --bottom-bar-bg: rgb(45 45 45);
    --green: #4cd964;
    --task-complete-color: #EF4444;
    --table-bg: #222;
    --progress-height: 20px;
    --color-btn-background: #333;
    --highlight-color: yellow;
    --highlight-bg: black;
    --drawer-radius: 1.5rem
}

*,
::after,
::before {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none
}

html {
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    overscroll-behavior: none;
    touch-action: none
}

body {
    height: 100%;
    overflow: auto;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: #1d1d1d;
    color: white;
    font-size: 1rem;
    font-family: system-ui;
    overscroll-behavior: none;
    touch-action: none
}

label.toggle_label {
    background: #aeaeae;
    height: 30px;
    width: 50px;
    display: flex;
    border-radius: 100px;
    align-items: center;
    padding: 0 5px
}

.add-new-list-title {
    width: 100%;
    background: #3c3c3c30;
    color: var(--font-color);
    padding: 1.5rem 1.1rem;
    font-size: 1.1rem;
    border: 0px;
    border-radius: 8px;
    text-align: center;
}

.add-new-list-title:focus {
    /* border: 1px solid orange; */
    /* border-width: 0 0 1px 0; */
}

.add-task-edit-options {
    display: grid;
    gap: .4rem;
    overflow-y: auto;
    max-height: 150px;
    grid-template-columns: repeat(3, 1fr)
}

.add-task-edit-options>.chip {
    transform: scale(.9)
}

.add_task_icon {
    color: var(--accent);
    border-radius: 100px;
    background: var(--list-bg);
    justify-self: flex-end
}

.amount {
    font-size: 16px;
    font-weight: 700
}

canvas {
    width: 100% !important
}

.app-subtitle {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .3rem
}

.app_icon_title {
    display: flex;
    align-items: anchor-center;
    gap: .5rem;
    transition: 0.5s all;
}

.back_circle {
    opacity: .1
}

.bar {
    /* calculate */
    /* calculate */
    width: 100%;
    background: #f8940026;
    border: 1px solid orange;
    transition: 0.5s all;
    border-radius: .5rem .5rem 0px 0px;
}

.bars {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    align-items: baseline;
    gap: 1rem;
    width: 100%;
    padding: 0rem 1rem;
    padding-top: 1rem;
}

.bg-list-bg {
    background: var(--list-bg)
}

.blur_icon_btn {
    padding: 1rem;
    font-size: 1.8rem;
    color: orange;
}

.botom_bar_title {
    font-size: 1.1rem;
    margin: .5rem 0;
    gap: .5rem;
    display: flex;
    align-items: center;
}

.bottom-bar {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-bar-button.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    font-size: .65rem;
    background: 0 0;
    color: inherit;
    margin: .25rem;
    gap: .25rem;
    transition: .5s all
}

.bottom-bar-button.button.active {
    background: var(--accent);
    font-weight: 700
}

.bottom-bar-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.bottom-bar-icon-size {
    height: 32px;
    width: 32px
}

.bottom-bar-menu-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0 0;
    outline: 0;
    text-indent: -99999px;
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 1;
    opacity: 0
}

.bullet {
    position: relative;
    padding-left: 20px
}

.bullet::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: currentcolor
}

.button {
    border-radius: 1rem;
    padding: 4px 12px;
    display: inline-flex;
    color: var(--font-color);
    text-align: center;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
}

.button-icon {
    font-size: 1rem
}

.chat_bubble {
    border-radius: 0 4rem 4rem 4rem
}

.chip {
    background: var(--chip-bg);
    border-radius: 100px;
    border: 1px solid #383838;
    display: block;
    align-items: center;
    padding: 6px 12px;
    white-space: nowrap;
    text-transform: capitalize;
}

.chip2 {
    display: flex;
    gap: 1rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: #fff;
    font-size: .8rem;
    border: 1px solid var(--chip2-border)
}

.chip2-selected {
    background: var(--accent)
}

.chip2-selected>span {
    color: #fff !important
}

.chip>span {
    font-size: .6rem
}

.circular_bar_text_container {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.circular_bar_text_container_item {
    position: relative;
    padding-left: 20px
}

.circular_bar_text_container_item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: currentcolor
}

.clickable {
    transition: .2s all;
}

.clickable.active {
    color: orange;
}


.content {
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding-top: 48px;
}

.create-chart-theme-wrapper {
    display: flex;
    flex-flow: column;
    gap: .5rem;
    flex-grow: 1;
    align-items: center;
    justify-content: center
}

.create-note-popup {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem
}

.create-note-text {
    color: #464646;
    display: flex;
    justify-content: center;
    margin-top:1rem;
}

.create-notebook-popup {
    padding: 1rem 2rem;
    z-index: 999;
    max-width: 512px
}

.create-tags-popup {
    border: 1px solid var(--theme_button_border);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.create-var-popup {
    padding: 1rem 2rem;
    z-index: 999;
    max-width: 512px
}

.create_btns_close {
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "edit_options edit_options" "create_btns input_area"
}

.create_btns_open {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "edit_options edit_options edit_options edit_options" "create_btns input_area input_area input_area"
}

.create_note_notebook_icon {
    text-align: center;
    width: 42px;
    height: 42px !important;
    border: 1px solid #383838;
    border-radius: 100px;
    font-size: 24px;
    background: #272727;
    align-content: center;
    transform: translate(0px, 8px);
    box-shadow: 0px 1px 2px #0a0a0a;
}

.custom-radio {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid
}



#db_textarea {
    overflow-y: auto;
    width: 100%;
    color: var(--font-color);
    font-size: .8rem;
    border: none;
    resize: none;
    height: 120px;
    background: var(--bg-color);
    margin: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid
}

.description {
    font-size: 14px;
    color: gray;
    text-transform: capitalize
}

.description {
    font-size: 14px;
    color: gray;
    text-transform: capitalize
}

.drawer-rounded {
    border-radius: var(--drawer-radius) var(--drawer-radius) 0 0
}

.edit_options {
    display: block;
    width: 40px;
    color: currentColor
}

.edit_options_container {
    display: flex;
    gap: .5rem;
    overflow-x: auto;
    grid-area: edit_options;
    flex-direction: column
}

select {
    appearance: none;
    background-color: #ffffff08;
    border: none;
    padding: .25rem 1.5rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    text-align: center;
    border-radius: 99px
}

select:focus-visible {
    outline: 0
}

.empty-list {
    text-align: center;
    color: #97e2fa;
    font-size: 150%
}

.empty-list span {
    text-align: center;
    font-size: 30px;
    margin-top: 10px
}

.empty-notebook {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0
}

.empty-space {
    height: 300px;
    width: 100%
}

.empty_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 72%;
}

text.circular_bar_text {
    transform: rotate(90deg) translate(-6%, 3%);
    transform-origin: center;
    stroke: #fff;
    fill: transparent;
    text-align: center
}

.graph {
    position: relative;
    width: 85%;
    height: 250px;
    background: #2f2f2f;
    left: 0px;
    display: block;
    margin-left: 32px;
}

.green-btn {
    background: #4bd964;
    color: #000
}

.grid_rows_one {
    grid-template-rows: 0fr 1fr
}

.grid_rows_two {
    grid-template-rows: auto auto
}

.group-notebook-item {
    margin: .125rem;
    font-size: .9rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    touch-action: auto;
    gap: .5rem;
    width: max-content;
    border: 1px solid #3a3a3a;
    border-radius: 100px;
    padding: .25rem .5rem;
    flex-grow: 0;
}

.group-notebook-item-icon {
    font-size: 1.2rem;
}

.group_by_text {
    padding: .5rem;
    color: gray;
    text-transform: capitalize;
    font-size: .85rem;
}

.group_notebook_selected_state {
    background: #ffffff0d;
    color: orange;
    font-weight: bold;
    text-align: right;
    justify-content: end;
}

.grouped_notebook {
    background: #ffffff0d;
    color: orange;
    font-weight: bold;
    text-align: right;
    justify-content: end;
}

th {
    text-align: left;
}

.h-60vh {
    height: 60vh
}

.h-full {
    height: 100%
}

thead tr {
    background: #161616 !important
}

.highlight {
    display: inline;
    color: var(--highlight-color);
    background: var(--highlight-bg);
    color: #fff;
    padding: .125rem .5rem;
    border-radius: 4px
}

.highlight {
    color: #ff4967;
    background: #ff49671a
}

.icon-btn {
    border-radius: 100px;
    display: inline-flex;
    padding: 4px;
    font-size: 20px;
    color: var(--icon-btn-color);
    justify-content: center
}

.icon-btn-padding {
    padding: 0 1rem
}

ul.notebooks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.line {
    height: 2px;
    background: #737373;
    margin: 8px 0px;
    border: 1px dashed;
}

.list-icon {
    background: #ffdf2b;
    border: 2px solid #bca000;
    font-size: 1.3rem;
    border-radius: 99px;
    color: #000;
    padding: 0 8px
}

.list-more-optionas-holder {
    display: flex;
    flex-direction: column;
    width: max-content;
    overflow: auto;
    max-height: 60vh;
    padding: .5rem .25rem;
}

.list-more-options-container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.list-panel-item {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem .75rem;
    width: 100%;
    border: 1px solid rgb(72 72 72);
    border-radius: 18px;
    background: rgb(33 33 33);
}

.list-panel-item-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list-panel-item>article.selected {
    background: #44409b;
    color: #fff
}

.list-panel-item>div>article {
    text-transform: capitalize;
    width: -webkit-fill-available;
    padding: .5rem .75rem
}

.list-sub-text {
    margin: .5rem;
    text-align: end;
    font-weight: bolder;
    color: #b3b3b3;
    font-size: .8rem
}

.list-sub-text {
    color: orange
}

.list_icon_input {
    text-align: center;
    width: 52px;
    height: 52px !important;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 26px;
    background: transparent;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
    padding: 1rem;
}

img.empty_svg {
    height: 200px;
    width: 200px;
    background: var(--more-options-border-color);
    border-radius: 2rem
}

.money {
    font-family: monospace;
    font-weight: 600;
    shape-rendering: geometricprecision;
    color: #747474;
}



.nav_btn_icon {
    font-size: 2rem;
}

.new-list-icon {
    background: #ffdf2b;
    border: 2px solid #bca000;
    font-size: 1.3rem;
    border-radius: 99px;
    color: #000;
    padding: 0 8px
}

.new-task-content {
    overflow-y: auto;
    font-size: 1rem;
    color: white;
    resize: none;
    height: 100%;
    width: 100%;
    background: var(--chip-bg);
    padding: 12px 16px;
    border: 1px solid rgb(43, 44, 48);
    border-radius: 20px;
    font-family: 'Libre Baskerville';
}

.new-task-content:empty:before {
    content: attr(placeholder)
}

.new-task-content:focus {
    outline: 0;
    border-bottom: 1px solid orange
}

.new_notebook_popup_child {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    padding: .5rem;
}

.new_task_popup_child {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    padding: 1rem 1rem;
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter: blur(var(--more-options-blur));
    border: 1px solid var(--more-options-border-color);
    z-index: 999;
    position: absolute;
    top: 1vh;
    width: 90%;
    left: 5%;
    border-radius: 12px;
    overflow: scroll
}

.not-active {
    color: gray
}

.note_content_container {
    display: grid;
    align-items: center;
    width: 100%;
    gap: .25rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem
}

.note_textarea_container {
    align-items: center;
    height: 40vh;
    /* width: 95%; */
    /* margin: 12px 2.5%; */
}

.notebook_age {
    padding: .25rem .5rem;
    font-weight: 700;
    color: var(--icon-btn-color);
    font-size: .6rem;
    display: inline-flex;
    border-radius: 100px;
    margin: .5rem;
    align-items: center
}

.notebook_container {
    display: flex;
    border: solid;
    border-width: 0 0 1px 0;
    align-items: center;
    width: 100%;
    padding: .125rem .25rem;
    grid-area: input_area
}

.notebook_count {
    color: gray;
    margin-left: .75rem;
    font-size: .85rem
}

.notebook_icon {
    background: 0 0;
    font-size: 1rem;
    border-radius: 1rem;
    color: currentColor;
    padding: .5rem .75rem
}

.notebook_icon_list_view {
    font-size: 2rem;
}

.notebook_icon_quick_view {
    font-size: 1.5rem;
}

.notebook_tag_chip.selected {
    background: linear-gradient(90deg, #ff4967, #f3217a);
    font-weight: bold;
}

.notes {
    display: flex;
    gap: .25rem;
}

input#fileInput::-webkit-file-upload-button {
    visibility: hidden
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: inherit
}

input:checked+label.toggle_label {
    background: var(--green)
}

input:checked+label.toggle_label>span.toggle_span {
    transform: translateX(100%);
    background: #fff
}

input:focus {
    outline: 0;
}

input[type=checkbox].toggle_checkbox {
    display: none
}

input[type=password] {
    border-bottom: 1px solid var(--white_black);
    padding: 8px;
    font-size: .95rem;
    background: 0 0;
    color: var(--font-color)
}

input[type=radio]:checked+.custom-radio:after {
    display: block;
    content: '⊙';
    z-index: 99;
    margin: 0;
    user-select: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transform: translate(0px, -2px);
}

input[type=text] {
    margin: 0;
    height: 36px
}



.overflow-y {
    overflow-y: scroll
}

.p-3\/4 {
    padding: .75rem
}

.page_icon {
    font-size: 2rem;
}

span.lock_icon {
    text-align: center;
    width: 64px;
    height: 64px !important;
    border: 1px solid #383838;
    border-radius: 100px;
    font-size: 30px;
    background: #272727;
    align-content: center;
    box-shadow: 0px 1px 2px #0a0a0a;
}

span.lock_text {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    border: 1px solid #383838;
    box-shadow: 0px 1px 2px #0a0a0a;
}

span.toggle_span {
    display: block;
    background: #fff;
    border: 0 solid #6b6b6b;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 gray;
    transition: .5s all
}

.password {
    width: 100%;
    background: 0 0;
    color: var(--font-color);
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 0;
    border-width: 0 0 1px 0;
    font-family: MONOSPACE
}

.password:focus {
    border: 1px solid orange;
    border-width: 0 0 1px 0
}

.plain-text {
    padding: 4px 1rem;
    white-space: break-spaces;
}

.plain-text>.h1,
.plain-text>.h2,
.plain-text>.h3,
.plain-text>.h4,
.plain-text>.h5,
.plain-text>.h6 {
    margin-left: -1rem
}

.popup {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.popup_style {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.progress-bar {
    height: 100%;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px 0 0 10px
}

.progress-bar-container {
    background-color: var(--more-options-border-color);
    border-radius: 100px;
    overflow: hidden;
    height: var(--progress-height);
    position: relative;
    margin: .5rem 1rem
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--font-color);
    line-height: var(--progress-height);
    font-size: 12px
}

.progress_rounded {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem
}

.px-3\/4 {
    padding-left: .75rem;
    padding-right: .75rem
}


.reset_ul {
    list-style: none;
    padding: inherit;
    margin: inherit;
    flex-direction: column
}



.rounded-3\/4 {
    border-radius: .75rem
}

.roundedOne {
    display: flex;
    justify-content: center;
    align-items: center
}

.roundedOne input[type=checkbox] {
    visibility: hidden
}

.roundedOne input[type=checkbox]:checked+label:after {
    opacity: 1
}

.roundedOne label:after {
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0;
    border-radius: 50px
}

.roundedOne label:hover::after {
    opacity: .3
}

#search-box {
    padding: .75rem;
    color: var(--font-color);
    border-radius: 8px;
    background: var(--list-bg);
    overflow-y: auto;
    width: -webkit-fill-available;
    margin: .5rem
}

.select {
    background: 0 0;
    color: #fff;
    border: 0;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px
}

.selected-list {
    color: #fff;
    background: #44409b
}

.sidebar-items-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0rem;
}

.sidebar-menu-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar_container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidebar_item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.sidebar_item>.icon {
    font-size: 1.5rem;
}

.sidebar_item>.text {
    font-size: 1rem;
}

.square {
    border: 1px solid;
    height: 20px;
    width: 20px
}

.system {
    color: #ff4181
}

.system_var_container {
    display: grid;
    grid-template-columns: 45% 45% 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid;
    border-radius: 1rem;
    align-items: center;
    width: 100%;
    padding: .125rem .25rem;
    grid-area: input_area
}

.system_var_input {
    width: 100%;
    background: 0 0;
    color: var(--font-color);
    padding: .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--list-border) !important;
    border: solid;
    border-width: 0 0 1px 0;
    border-radius: 0
}

.system_var_item {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    margin: .125rem .5rem;
    background: var(--system-var-bg);
    font-size: 1rem;
    border-radius: 16px;
    border: 1px solid var(--system-var-border)
}

.system_var_item .evaluated_exp {
    font-size: 2rem;
    text-align: right;
    color: #49dc6b;
    font-weight: 500;
    font-family: monospace
}

.system_var_item .key {
    font-family: monospace;
    font-size: 2rem
}

.system_var_item .notebooks {
    color: #464646
}

.system_var_item .value {
    font-family: monospace
}

.task {
    display: flex;
    word-break: break-word;
    user-select: all;
    align-items: center;
    transition: 0.5s all;
    width: 100%;
}

.task .task-content-div {
    width: 100%;
    padding: 2px 8px;
}

.task li {
    margin: .5rem 2rem;
    list-style: disc;
}

.task p {
    margin: .25rem
}

.task-content-div li::first-letter,
.task-content-div::first-letter {
    text-transform: uppercase
}

.task-content-div span {
    width: 100%;
    display: block
}

.task-content-div.selected {
    border: 1px solid #646464;
    border-radius: 4px;
}

.task-more-options-holder {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 80%;
    backdrop-filter: blur(var(--more-options-blur));
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    border: 1px solid var(--more-options-border-color)
}

.task-more-options-item {
    padding: .2rem 0.5rem;
    margin: .25rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid #6565653b; */
    touch-action: auto;
    gap: 1rem;
}

.task-more-options-item.selected {
    background: #ffffff2e;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.task-more-options-item:hover {
    color: orange
}

.task-more-options-item:last-child {
    border: none
}

.task.completed {
    text-decoration: line-through;
    opacity: 0.4;
    transition: 1s all;
    text-align: right;
}

.task:has(table) {
    border-radius: 6px
}

.taskMoreOptionsConatiner {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    align-items: center;
    width: 100%;
    border-radius: 5px
}



.text-input {
    width: 100%;
    background: 0 0;
    color: var(--font-color);
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 0;
    border-width: 0 0 1px 0;
    font-family: MONOSPACE
}

.text-input:focus {
    border: 1px solid orange;
    border-width: 0 0 1px 0
}

.text-menu-container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.text-menu-container-child {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 60vh;
    position: relative;
    top: 12rem;
    width: fit-content;
}

.text-menu-item {
    padding: 0.25rem 0.5rem;
}



.theme_button {
    border: 1px solid var(--theme_button_border);
    border-radius: 99px;
    width: 60px
}

.theme_button_span {
    transition: .5s all;
    transform: translate(0, 0);
    font-size: 20px;
    padding: 2px 4px;
    color: #fff
}

.theme_button_span_right {
    transform: translate(100%, 0);
    color: #000
}

.theme_container {
    display: inline-flex;
    align-items: center;
    font-size: .95rem;
    gap: .5rem;
    padding: .5rem;
    width: fit-content
}


.time {
    color: #808080bf;
    text-transform: capitalize;
    font-size: .8rem
}

.title {
    font-size: 16px;
    font-weight: 700
}

.title {
    font-size: 16px;
    font-weight: 700
}



.toast {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 90%;
    min-width: 120px;
    z-index: -1;
    opacity: 0;
    padding: 10px 20px;
    border-radius: 100px;
    color: var(--font-color);
    border: 1px solid #0000001c
}

.toast {
    border: 1px solid #ffffff1c
}

.toast.show {
    z-index: 999;
    opacity: 1
}

.topbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 900;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;1rem:;
}


.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin: .5rem .5rem
}

.transaction-details {
    display: flex;
    flex-direction: column;
    align-items: end
}

.transaction-details {
    display: flex;
    flex-direction: column;
    align-items: end
}

.transaction-icon {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    box-shadow: 0 1px 2px #80808078;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.transaction-icon {
    width: 40px;
    height: 40px;
    background: #00000038;
    box-shadow: 0 1px 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.transaction-info {
    display: flex;
    align-items: center;
    gap: 12px
}

.transaction-info {
    display: flex;
    align-items: center;
    gap: 12px
}

.transaction-text {
    display: flex;
    flex-direction: column
}

.transaction-text {
    display: flex;
    flex-direction: column
}



.trash {
    color: #ff4181
}

.txt-btn {
    text-align: center;
    color: var(--progress-a);
    font-weight: 700;
    width: max-content
}

.txt-btn:active {
    text-decoration: underline
}

.user-logo {
    background: orange;
    border-radius: 100px;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center
}

.var_chip {
    padding: .125rem 1rem;
    border-radius: 100px;
    font-family: math;
    font-style: italic
}

.var_icon {
    background: #ffdf2b;
    border: 1px solid #bca000;
    border-radius: 100px;
    padding: .125rem 1rem;
    font-style: italic;
    font-family: math;
    color: #000;
    font-size: 110%
}

.visible_pop_animation {
    animation: pop_anim .2s;
    transform-origin: center
}

@keyframes pop_anim {
    0% {
        opacity: 0;
        bottom: 20px;
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        bottom: 0;
        transform: scale(1)
    }
}

table {
    border: 1px solid transparent;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    font-family: monospace;
}

.heading {
    /* color:#fd4967; */
    color: #85b82e;
}

td.simple_cell.total {
    /* color: orange; */
    text-align: center;
}

tr.simple_row.total_row {
    color: #f3217a;
}

.plain_text {
    white-space: pre-line;
}


.google-sans-font {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}
.var_chips {
    display: flex;
    /* flex-direction: column; */
    border: 1px solid var(--theme_button_border);
    border-radius: 100px;
    padding: .5rem .75rem;
    align-items: center;
}

.formula_playground_item {
    padding: 2px 4px;
    margin: 4px;
    border-radius: 4px;
}

.formula_playground_item.var {
    background: #01478a4f;
    border: 1px solid #01478acf;
}

.formula_playground_item.operator {
    background: #ffeb3b14;
    border: 1px solid #ffeb3b69;
}


.formula_item_close {
    background: #808080;
    color: #3b3b3b;
    border-radius: 100px;
    padding: 2px 8px;
}

.formula_item_add {
    background: #4cd96417;
    color:#4cd964;
    border-radius: 100px;
    padding: 2px 8px;
}

.blink {
    animation: blink 2.5s infinite ease-in-out;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.2;
  }
}


.mask-icon{
   width:24px;
   height:24px;
   -webkit-mask-size: contain;
   mask-size: contain;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-position: center;
   mask-position: center;
}



.libre-baskerville-font {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.notes-count{
    color: gray;
    font-size: .85rem;
}