html {
    /* light theme vars, dark theme vars in dark.css */
    --accent: #bb86fc;
    --accent: #164ea6;
    --font-color: #333;
    --bg-color: whitesmoke;
    --border-color: #fff;
    --list-border: #d1d1d1;
    --list-bg: #ffffff57;
    --border-color: #2997ff;
    --chip-bg: whitesmoke;
    --chip2-border:#e7e7e7;
    --progress-a: #4ade80;
    --progress-b: aliceblue;
    --more-options-border-color: #e6e6e6;
    --more-options-blur: 32px;
    --create-notebook-bg: white;
    --system-var-bg: #ffffff;
    --system-var-border: #cfcfcf;
    --block-screen-blur: 4px;
    --age_text_color: var(--accent);
    --theme_button_border: gray;
    /* white in light theme and black in dark mode  */
    --white_black: white;
    --icon-btn-color: white;
    --bottom-bar-bg: white;
    --green: #4cd964;
    --task-complete-color: #222;
    --table-bg: whitesmoke;
    --progress-height:16px;
    --color-btn-background:#f5f5f5;
}

body {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 10px;
    
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
}

.button {
    background: var(--chip-bg);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: inline-flex;
    color: var(--font-color);
    margin: 0.5em;
    text-align: center;
    align-items: center;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
    padding: 0px;
}

.app-title {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bold;
    background: transparent;
    border: none;
    display: block;
    text-decoration: none;
    appearance: none;
    outline: none;
    text-align: center;
    text-wrap: nowrap;
}

.selected-list {
    color: white;
    background: #44409b;
}

input[type="text"] {
    margin: 0;
    border: none;
    height: 36px;
    padding: 10px;
    font-size: 0.95rem;
}


input[type="password"] {
    border: 1px solid var(--white_black);
    padding: 8px;
    font-size: 0.95rem;
    background:transparent;
    border-radius:.5rem;
    color: var(--font-color);
}


input:focus {
    outline: none;
}

.list-panel-item {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    width: 100%;
    /* transition: 0.2s all; */
    /* border-bottom: 1px solid var(--list-border); */
    background: var(--list-bg);
    border-radius: 8px;
    /* margin: .125rem .75rem; */
    height: 150px;
}

ul.notebooks li:last-child > .list-panel-item {
    border: none;
}

.list-panel-item-title {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.toast {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 90%;
    z-index: -1;
    opacity: 0;
    padding: 10px 20px;
    border-radius: 100px;
    color: var(--font-color);
    background: var(--white_black);
    border: 1px solid var(--font-color);
}

.toast.show {
    z-index: 999;
    opacity: 1;
}

.task {
    padding: 0rem .5rem;
    display: flex;
    word-break: break-word;
    user-select: all;
    /* background-color: var(--system-var-bg); */
    border-radius: 8px;
    align-items: center;
    /* transition: 0.5s all; */
    margin: 1rem .25rem;
    /* border-bottom: 1px solid var(--list-border); */
    /* border: 1px solid var(--system-var-border); */
    overflow: hidden;
    font-size: 140%;
}

.task p {
    margin: 0.25rem;
}

.task li {
    margin: 0.25rem 1.5rem;
    list-style: disc;
}

.task .task-content-div {
    /* margin-left: 10px; */
    width: 100%;
    padding: .25rem 0rem;
}

.task-content-div::first-letter,
.task-content-div li::first-letter {
    text-transform: uppercase;
}

.task.completed > .task-content-div {
    text-decoration: line-through;
    font-weight: bold;
}

.task-content-div span {
    width: 100%;
    display: block;
}

.completed {
    /* box-shadow: none; */
    /* color: var(--task-complete-color); */
}
.completed > .material-symbols-outlined
{
    color:#5BC236;
}
.completed > .task-content-div
{
    opacity:0.5;
    font-style:italic;
}



.completed > i {
    color: gray;
    text-decoration: none;
}

.empty-list {
    text-align: center;
    color: #97e2fa;
    font-size: 150%;
}

.empty-list span {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

#db_textarea {
    overflow-y: auto;
    width: 100%;
    color: var(--font-color);
    font-size: 0.8rem;
    border: none;
    resize: none;
    height: 120px;
    background: var(--bg-color);
    margin: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid;
}

.new-task-content {
    overflow-y: auto;
    width: 100%;
    color: var(--font-color);
    font-size: 0.8rem;
    border: none;
    resize: none;
    height: 100%;
    background: none;
    /* margin: 0.5rem 1rem; */
    /* border-radius: 8px; */
    /* border: 1px solid; */
}

.new-task-content:focus {
    outline: none;
}

.new-task-content:empty:before {
    content: attr(placeholder);
}

div#list-more-options-container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.list-more-optionas-holder {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: clamp(30%,90%,400px);
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter: blur(var(--more-options-blur));
    border: 1px solid var(--more-options-border-color);
    overflow: auto;
    max-height: 60vh;
}

.block_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 900;
    -webkit-backdrop-filter: blur(var(--block-screen-blur));
    backdrop-filter: blur(var(--block-screen-blur));
}

.list-panel-item > div > article {
    text-transform: capitalize;
    font-size: 0.8rem;
    width: -webkit-fill-available;
    padding: 0.5rem 0.25rem;
    font-weight: bold;
}

.list-panel-item > article.selected {
    background: #44409b;
    color: white;
}

.list-sub-text {
    margin: 0.5rem;
    text-align: end;
    font-weight: bolder;
    /* background: var(--white_black); */
    color: var(--age_text_color);
}

.taskMoreOptionsConatiner {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.task-more-options-item {
    padding: 0.6rem;
    margin: 0.25rem;
    font-size: 110%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 1px solid #d7d7d7;
    touch-action: auto;
    gap: 1rem;
}

.task-more-options-item:hover {
    color: var(--accent);
}

.task-more-options-item:last-child {
    border: none;
}

.task-more-options-holder {
    display: flex;
    flex-direction: column;
    /* background: var(--list-bg); */
    border-radius: 1rem;
    width: 80%;
    backdrop-filter: blur(var(--more-options-blur));
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    border: 1px solid var(--more-options-border-color);
}

#search-box {
    padding: 0.75rem;
    color: var(--font-color);
    border-radius: 8px;
    background: var(--list-bg);
    overflow-y: auto;
    width: -webkit-fill-available;
    margin: 0.5rem;
    /* border-bottom: 2px solid var(--border-color); */
}

.add-new-list-title {
    width: 100%;
    background: none;
    color: var(--font-color);
    /* padding: .5rem; */
    font-size: 0.8rem;
    /* border: 1px solid; */
}

.system_var_input {
    width: 100%;
    background: none;
    color: var(--font-color);
    /* padding: .5rem; */
    font-size: 0.8rem;
    border-bottom: 1px solid var(--list-border);
}

.add-task-edit-options {
    display: grid;
    gap: 0.4rem;
    overflow-y: auto;
    max-height: 150px;
    grid-template-columns: repeat(3,1fr);
}

.add-task-edit-options > .chip {
    transform: scale(0.9);
}

.add_task_icon {
    color: var(--accent);
    border-radius: 100px;
    background: var(--list-bg);
    justify-self: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse
{
    display:flex;
    flex-direction:row-reverse;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.p-1\/2 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.m-1\/2 {
    margin: 0.5rem;
}

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-1 {
    border-radius: 0.5rem;
}

.rounded-2 {
    border-radius: 1rem;
}

.rounded-3 {
    border-radius: 1.5rem;
}

.rounded-4 {
    border-radius: 2rem;
}

.rounded-full {
    border-radius: 999px;
}

.px-2 {
    padding: 0rem 1rem;
}

/* bg based on theme dark and light */
.bg-list-bg {
    background: var(--list-bg);
}

.chip {
    background: var(--chip-bg);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    flex-shrink: 0;
}

.chip > span {
    font-size: .6rem;
}

.chip > .material-symbols-outlined {
    font-size: 1rem;
}

.progress-bar-container {
  background-color: var(--more-options-border-color);
  border-radius: 100px;
  overflow: hidden;
  height: var(--progress-height);
  position: relative;
  margin: 0.5rem 1rem;
}

.progress-bar {
  height: 100%;
  text-align: center;
  line-height: 20px; /* Vertically centers the text */
  color: white;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--font-color);
  line-height: var(--progress-height);
  font-size: 12px;
}


.progress_rounded {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* .progress_bar:before {
    content: attr(data-value) "%";
    font-size: 16px;
    text-align: center;
    display: block;
    text-shadow: 0px 0px #717171;
}
 */
.list-icon {
    background: #ffdf2b;
    border: 2px solid #bca000;
    font-size: 1.3rem;
    border-radius: 99px;
    color: black;
    padding: 0px 8px;
}

.notebook_icon {
    background: transparent;
    /* border: 1px solid currentColor; */
    font-size: 1rem;
    border-radius: 1rem;
    color: currentColor;
    padding: 0.5rem 0.75rem;
}

.visible_pop_animation {
    animation: pop_anim 0.4s;
    transform-origin: center;
}

@keyframes pop_anim {
    0% {
        opacity: 0;
        bottom: 20px;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        bottom: 0px;
        transform: scale(1);
    }
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.transition {
    transition: 0.5s all;
}

.overflow-y {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    margin: 0.25rem;
    text-transform: capitalize;
}

.justify-content-end {
    justify-content: end;
}

.content {
    flex: 1;
    overflow-y: auto;
    margin: 0.5rem;
    border-radius: 8px;
}

.bottom-bar {
    padding-bottom: 0.5rem;
    background: var(--bottom-bar-bg);
    margin: 0.5rem;
    border-radius: 8px;
}

.select {
    background: transparent;
    color: white;
    border: 0px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
}

.app-subtitle {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.app-subtitle .material-symbols-outlined {
    font-size: 1.1rem;
}

.new_notebook_popup_child {
    display: flex;
    flex-direction: column;
    /* background: var(--list-bg); */
    border-radius: 1rem;
    width: 80%;
    padding: 0.5rem;
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter: blur(var(--more-options-blur));
    border: 1px solid var(--more-options-border-color);
}

.new_task_popup_child {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    /* background: var(--list-bg); */
    padding: 0.5rem;
    -webkit-backdrop-filter: blur(var(--more-options-blur));
    backdrop-filter: blur(var(--more-options-blur));
    border: 1px solid var(--more-options-border-color);
    /* height: 60vh; */
    z-index: 999;
    position: absolute;
    top: 1vh;
    width: 90%;
    left: 5%;
    border-radius: 12px;
    overflow: scroll;
}

.popup {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6vh;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.space-between {
    justify-content: space-between;
}

/* utilities classes must come after general class */
.text-red-500 {
    color: #ef4444;
}

.capitalize {
    text-transform: capitalize;
}

.text-accent {
    color: var(--accent);
}

.text-center {
    text-align: center;
}

.text-2 {
    font-size: 1rem;
}

.mt-2 {
    margin-top: 1rem;
}

.border {
    border: 1px solid var(--list-border);
}

.system_var_item {
    display: flex;
    padding: 0.5rem 0.25rem;
    margin: 0.125rem 0.5rem;
    /* background: var(--system-var-bg); */
    font-size: 1rem;
    gap: 1rem;
    border-radius: 8px;
    /* border: 1px solid var(--system-var-border); */
}

.var_icon {
    background: #ffdf2b;
    border: 1px solid #bca000;
    border-radius: 100px;
    padding: 0.125rem 1rem;
    font-style: italic;
    font-family: math;
    color: black;
    font-size: 110%;
}

.var_chip {
    /* background:linear-gradient(90deg,#35c759,#0d8e2d); */
    padding: 0.125rem 1rem;
    border-radius: 100px;
    /* border: 1px solid #35c759; */
    font-family: math;
    font-style: italic;
}

.bottom-bar-button.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    font-size: 0.65rem;
    background: transparent;
    color: inherit;
    margin: 0.25rem;
    gap: 0.25rem;
    transition: 0.5s all;
}

.bottom-bar-button .material-symbols-outlined {
    font-size: 1.2rem;
}

.bottom-bar-button.button.active {
    background: var(--accent);
    font-weight: bold;
}

.new-list-icon {
    background: #ffdf2b;
    border: 2px solid #bca000;
    font-size: 1.3rem;
    border-radius: 99px;
    color: black;
    padding: 0px 8px;
}

.empty-notebook {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.sidebar-menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 901;
    background: transparent;
    width: 90vw;
    height: 100%;
    transition: 0.5s all;
    left: -90vw;
    backdrop-filter: blur(var(--more-options-blur));
    -webkit-backdrop-filter: blur(var(--more-options-blur));
}

.scroll-y {
    overflow-y: scroll;
}

img.empty_svg {
    height: 200px;
    width: 200px;
    background: var(--more-options-border-color);
    border-radius: 2rem;
}

.flex-grow {
    flex-grow: 1;
}

.flex {
    flex: 1;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.p-3\/4 {
    padding: 0.75rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.group_by_text {
    padding: 0.5rem;
    font-weight: bold;
}

.notebook_age {
    padding: 0.25rem .5rem;
    font-weight: bold;
    color: var(--icon-btn-color);
    font-size: 0.6rem;
    display: inline-flex;
    background: var(--accent);
    border-radius: 100px;
    margin: 0.5rem;
    align-items: center;
}

/* 0.25rem 0.75rem */
.py-1\/2 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3\/4 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.text-small {
    font-size: 0.75rem;
}

.theme_container {
    display: inline-flex;
    align-items: center;
    font-size: 0.95rem;
    gap: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
}

.theme_button {
    border: 1px solid var(--theme_button_border);
    border-radius: 99px;
    width: 60px;
}

.theme_button_span {
    transition: 0.5s all;
    transform: translate(0%, 0px);
    font-size: 20px;
    padding: 2px 4px;
    color: white;
}

.theme_button_span_right {
    transform: translate(100%, 0px);
    color: black;
}

.self-end {
    align-self: flex-end;
}

.rounded-3\/4 {
    border-radius: 0.75rem;
}

.system {
    color: #ff4181;
}

.trash {
    color: #ff4181;
}

.shadow {
    box-shadow: 0px 2px 8px #0a0a0aab;
}

.text-120 {
    font-size: 120%;
}

.reset_ul {
    list-style: none;
    padding: inherit;
    margin: inherit;
}

input[type="checkbox"] {
    display: none;
}

label.toggle_label {
    background: #aeaeae;
    height: 30px;
    width: 50px;
    display: flex;
    border-radius: 100px;
    align-items: center;
    padding: 0px 5px;
}

span.toggle_span {
    display: block;
    background: #fff;
    border: 0px solid #6b6b6b;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 0px gray;
    transition: 0.5s all;
}

/* on label */
input:checked + label.toggle_label {
    background: var(--green);
}

/* on span */
input:checked + label.toggle_label > span.toggle_span {
    transform: translateX(100%);
    background: white;
}

.handle {
}

.yellow_note {
    background: #ffed58;
    color: #222;
}

.chat_bubble {
    border-radius: 0rem 4rem 4rem 4rem;
}

.note_content_container {
    display: grid;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
}

/* to prevent overlap of three create btns over right layout, change grid layout */
.create_btns_open {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "edit_options edit_options edit_options edit_options" "create_btns input_area input_area input_area";
}

.create_btns_close {
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "edit_options edit_options" "create_btns input_area";
}

.grid_rows_two {
    grid-template-rows: auto auto;
}

.grid_rows_one {
    grid-template-rows: 0fr 1fr;
}

.note_textarea_container {
    min-height: fit-content;
    display: flex;
    border: solid;
    border-width: 0px 0px 1px 0px;
    /* border-radius: 1rem; */
    align-items: center;
    /* height: 200px; */
    width: -webkit-fill-available;
    padding: 0.5rem 0.25rem;
    grid-area: input_area;
}

.notebook_container {
    display: flex;
    border: solid;
    border-width: 0px 0px 1px 0px;
    /* border-radius: 100px; */
    align-items: center;
    width: 100%;
    padding: 0.125rem 0.25rem;
    grid-area: input_area;
}

.system_var_container {
    display: grid;
    grid-template-columns: 45% 45% 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid;
    border-radius: 1rem;
    align-items: center;
    width: 100%;
    padding: 0.125rem 0.25rem;
    grid-area: input_area;
}

.icon-btn {
    border-radius: 100px;
    /* background: var(--accent); */
    display: inline-flex;
    padding: 4px;
    font-size: 20px;
    color: var(--icon-btn-color);
    /* width: 30px; */
    justify-content: center;
    /* background: var(--color-btn-background); */
}

.green-btn {
    background: #4bd964;
    color: black;
}

.edit_options {
    display: block;
    width: 40px;
    color: currentColor;
}

.h-60vh {
    height: 60vh;
}

.edit_options_container {
    display: flex;
    gap: 0.5rem;
    /* padding: 0.5rem 0rem; */
    overflow-x: auto;
    grid-area: edit_options;
    flex-direction: column;
}

.chip2 {
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    /* color: white; */
    font-size: .6rem;
    border: 1px solid var(--chip2-border);
}


.chip2 > .material-symbols-outlined {
    font-size: 1.1rem;
}

.chip2.chip2-selected > .material-symbols-outlined {
    animation:chip2_icon_anim .5s infinite alternate;
}

@keyframes chip2_icon_anim
{
    to{
        transform:scale(1.2);
    }
}


table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
}

th {
    background: #3266bc;
    color: white;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #efefef;
}

tr {
    border-top: 1px solid #80808033;
}

table > tr > th, table > tr > td, table > * > tr > th,table > * > tr > td {
        /* border: 1px solid var(--border-color-base,#a2a9b1); */ 
        padding: 0.35rem 0.5rem;
    }

.notebook_count {
    color: gray;
    margin-left: .75rem;
    font-size: .65rem;
}

input#fileInput::-webkit-file-upload-button {
  visibility: hidden;
}


.task-content-div.selected {
    border: 1px solid;
    border-radius: .25rem;
    border-style: dashed;
}

.line {
    height: 2px;
    background: var(--theme_button_border);
}

.back_circle
{
    opacity: 0.1;
}

.circular_bar_text_container {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Adds spacing between items */
}

.circular_bar_text_container_item {
  position: relative;
  padding-left: 20px; /* Space for the dot */
  /* font-size: 110%; */
}

.circular_bar_text_container_item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px; /* Dot size */
  height: 10px; /* Dot size */
  border-radius: 50%; /* Makes it circular */
  background-color: currentcolor;
    
}

text.circular_bar_text {
    transform: rotate(90deg) translate(-6%, 3%);
    transform-origin: center;
    stroke: white;
    fill: transparent;
    text-align: center;
}

.txt-btn
{
    text-align: center;
    color: var(--progress-a);
    font-weight: bold;
    width: max-content;
}
.txt-btn:active
{
    text-decoration:underline;
}

ul.notebooks {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: .5rem;
}

.list-panel-item-title > .material-symbols-outlined {
    font-size:1.5rem;
    
}

.chip2-selected{
    background:var(--accent);
}

.botom_bar_title {
    font-size: .8rem;
    margin: .5rem 0rem;
}